<!DOCTYPE html>
{% extends 'temps/base.html' %}
{% load static %}

{% block title %}
    {{ school_name }}
{% endblock %}

{% block stylesheet %}
    <style>


        .right-align-td {
            text-align: right;
            padding-right: 250px;

        }
        .collapsed {
            display: none;

        }
        .table-container {
            margin-top: 20px!important;
            bottom: 0;
            width: 100%;
            max-height: calc(100vh - 150px);
            overflow: auto;
            position: relative;
         
            padding: 0;
            display: flex;
            justify-content: center;
         
   
        }

        .table th,
        .table td {
            padding: 0.1rem !important;
            font-size: 13.5px;
            vertical-align: middle!important;
            height: 24px;
        }

        /* added styles*/

.table th {
    background-color: #343a40;
    color: white;
    padding: 18px 25px;
    text-align: center;
    margin-top:20px;
}

.table tr {
    transition: background-color 0.3s;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td {
    padding: 15px 25px;
    text-align: center;
}

.table tr:first-child th {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.table tr:last-child td {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #343a40;
    color: white;
}

.table tr:hover {
    background-color: #ff9f43;
}

.table td:nth-child(1),
td:nth-child(5)
{
    
    text-align: left!important;
    padding-left: 20px!important;
}

.side-panel {
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    padding: 0px;
    height: 100%;
    position: fixed;
    right: 18px;
    top: 0;
    overflow: hidden;
    z-index: 3;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-container {
    position: relative;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0);
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin-bottom: 15px;
    z-index: 3;
}

.collapsible-panel {
    position: fixed;
    top: 80px;
    right: 0;
    height: 100%;
    width: 150px; /* Adjust the width as needed */
    background-color: #f0f0f0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 3;
}

.collapsible-panel nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    </style>

    <link rel="stylesheet" href="{% static 'css/first.css' %}">
{% endblock %}

{% block body %}

    <div id="content-wrapper">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-end">
            <div class="d-flex align-items-center flex-grow-1 justify-content-center">
                <h5 class="text-center" style="color: black;">{{ school_name }}</h5>
            </div>
            {% comment %} <div class="d-flex align-items-center">
                <a class="navbar-brand mr-4 text-secondary" href="/profit-loss-charts/{{ school }}" data-toggle="tooltip" title="CHART" style="margin-right:500px;"><i class="fas fa-chart-bar"></i></a>
                
                <a id="export-excel-button" class="navbar-brand mr-2 text-secondary" href="#" data-toggle="tooltip" title="Export to Excel"><i class="fas fa-file-excel"></i></a>
            </div> {% endcomment %}
      
        </nav>

        <div class="table-container" >
            <div class="side-panel" id="sidePanel">
                <div class="side">
                    <div style="margin-top:300px"></div>

                    <a
                    class="text-secondary circle-container" 
             
                    data-toggle="tooltip" 
                    title="Side Panel"
                    data-placement="left"
                    onclick="togglePanel()"
                    >
                    <i id="panelIcon" class="fa-solid fa-angles-left"></i>
                 
                    </a>
            
                    <a
                     class="text-secondary circle-container" 
                     href="/profit-loss-charts/{{ school }}" 
                     data-toggle="tooltip" 
                     title="CHART"
                     data-placement="left"
                     ><i class="fas fa-chart-bar"></i></a>
                
                    <a 
                    id="export-excel-button" 
                    class="text-secondary circle-container" 
                    href="#" 
                    data-toggle="tooltip"
                     title="Export to Excel"
                     data-placement="left"
                     ><i class="fas fa-file-excel"></i></a>
          
            
                </div> <!-- end of side class -->
            </div> <!-- end of side-panel -->

            <div class="collapsible-panel" id="collapsiblePanel" style="display: none;">
                <nav>
                    <ul>
                        {% for year, months in charter_dict.items %}
                            <li>
                                <a
                                    class="nav-link"
                                    href="#"
                                    data-placement="right"
                                    style="color: gray; padding-bottom:0;"
                                    onclick="toggleMonths('{{ year }}')"

                                >
                                    <span class="text-center" style="color: gray;">{{ year }}</span>
                                </a>
                                {% comment %} <ul id="{{ year }}-months" style="display: none;"> {% endcomment %}
                                    <ul id="{{ year }}-months" >
                                    {% for month in months %}
                                        <li style="margin-left:40px;">
                                            <a href="/charter-first/{{ school }}/{{year}}/{{month.month_number}}" style="color: gray;">
                                                <span style="color: gray;">{{ month.month_name }}</span>
                                                <script>
                                                    var a = "{{month.month_name}}";
                                                    console.log(a)
                                                </script>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            
            <script>

                var currentURL = window.location.href;

                // Check if the current URL contains the specific pattern
                if (currentURL.includes("/charter-first/{{ school }}/{{year}}/")) {
                    // If the URL matches, set the initial display state of the collapsible panel to 'block'
                    document.getElementById("collapsiblePanel").style.display = "block";
                    document.getElementById("sidePanel").style.display = "block";
                    document.getElementById("sidePanel").style.right = "160px";
                    document.getElementById("panelIcon").className = "fa-solid fa-angles-right";
                }

                

                function toggleMonths(year) {
                    var months = document.getElementById(year + "-months");
                    months.style.display = (months.style.display === "none" || months.style.display === "") ? "block" : "none";
                }
            </script>
            <script>
                function togglePanel() {
                    var panel = document.getElementById("collapsiblePanel");
                    var sidePanel = document.getElementById("sidePanel");
                    var panelIcon = document.getElementById("panelIcon");

                    panel.style.display = (panel.style.display === "none" || panel.style.display === "") ? "block" : "none";
                    sidePanel.style.right = (panel.style.display === "none") ? "18px" : "160px";
                    panelIcon.className = (panel.style.display === "none") ? "fa-solid fa-angles-left" : "fa-solid fa-angles-right";
;
                }
            </script>
            <form  id="insert-row-form" action="{% url 'insert-row' %}" method="post">
                {% csrf_token %}
                <table id="data-table" class="table table-hover">
                    <thead>
                        <tr  style = "vertical-align: middle; height: 50px;">
                            <th colspan="19" style="white-space: nowrap; ">
                              
                                <h4 style="text-align: center; vertical-align: middle; ">FY{{ fiscal_year }}-{{ next_fiscal_year }} Charter First Forecast of {{ date|date:"F j, Y" }}</h4>
                            </th>
                        </tr>
                        <tr class="green-header " style="background-color: #212529; color:white;">
                            <th style="text-align: center;"><div style="width:300px;  text-align: center;">FIRST Rating Indicators</div> </th>
                            <th style="text-align: center;"><div style="width:200px; text-align: center;">Expected Results</div> </th>
                            <th style="text-align: center;"><div style="width:200px; text-align: center;">Points</div> </th>
                            <th style="text-align: center;"><div style="width:200px; text-align: center;">Status</div> </th>
                            <th style="text-align: center;"><div style="width:300px; text-align: center;">Notes</div> </th>
                        </tr>
                    </thead>
                    <tbody id="data-table-body">
                        <tr>
                            <td  style="text-align:left; padding-left:20px!important;"><strong>YTD Net Income </strong></td>
                            <td id="net-income-ytd" style="text-align:center;">{{ net_income_ytd }}</td>
                            <td colspan="3" style="text-align:center; overflow: auto;">1-AFR filed timely; 2-Unmodified audit opinion; 3-Compliant with debt agreements;<br> 4-TRS/TWC/IRS paid timely; 5-Positive net assets</td>
                        </tr>
                        <tr id="indicator">
                            <td><strong>Indicators 1-5 Pass/Fail</strong></td>
                            <td style="text-align:center;">{{ indicators }}</td>
                            <td style="text-align:center;">n/a</td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">Indicator #5 net asset balance at risk if losses continue;<br>  growth and new school exceptions do not apply.</td>
                        </tr>
                        <tr id="net-assets">
                            <td><strong>#6 - Net assets over 3 years < 25% decrease<br>
                                Exception: >75days net assets"</strong></td>
                            <td style="text-align:center;">{{ net_assets }}</td>
                            <td style="text-align:center;">n/a</td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">89 pts = B max if fails
                            </td>
                        </tr>
                        <tr id="days-coh">
                            <td>
                                <strong>#7 - Days Cash on Hand</strong>
                            </td>
                            <td style="text-align:center;">{{ days_coh }}</td>
                            <td style="text-align:center;">10
                            </td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">Preferred benchmark &gt; 60 days<br> 10 pts &gt; 60; 0 pts &lt; 20 </td>
                        </tr>
                        <tr id="current-assets">
                            <td><strong>#8 - Current Assets / Current Liab.</strong></td>
                            <td style="text-align:center;">{{ current_assets }}</td>
                            <td style="text-align:center;">10
                            </td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">Benchmark 1 thru 2, <1.0 = 0 pts; >2 = 10 pts</td>
                            </tr>
                        <tr id="net-earnings">
                            <td><strong>#9 - Net Earnings > 0 (Exception DCOH >40 days.)</strong></td>
                            <td id="net-earnings-td" style="text-align:center;">{{ net_earnings }}</td>
                            <td style="text-align:center;">5
                            </td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">
                                revenues &gt;= expenditures
                                (excl. Depr.)
                            </td>
                        </tr>
                        <tr id="budget-vs-revenue">
                            <td><strong>#10 - Budget vs Actual Revenue < 10% 3-yr variance</strong></td>
                            <td id="budget-vs-revenue" style="text-align:center;">{{ budget_vs_revenue }}</td>
                            <td style="text-align:center;">10
                            </td>
                            <td style="text-align:center;"><p></p></td>
                            <td style="text-align:center;">"within 10% variance<br>
                                (90%-110%)"
                            </td>
                        </tr>
                        <tr>
                            <td><strong>#11 - LT Liabilities / Total Assets</strong></td>
                            <td id="total-assets" style="text-align:center;">{{ total_assets }}</td>
                            <td style="text-align:center;">10</td>
                            <td style="text-align:center;"><p class="green-circle">On Track</p></td>
                            <td style="text-align:center;"> <0.6 = 10pts, >1.0 = 0pts</td>
                        </tr>
                        <tr>
                            <td><strong>#12 - Debt Service Coverage Ratio</strong></td>
                            <td id="debt-services" style="text-align:center;">{{ debt_service }}</td>
                            <td style="text-align:center;">10</td>
                            <td style="text-align:center;"><p class="red-circle">At Risk</p></td>
                            <td style="text-align:center;"> 10 pts >1.2X; 0 pts < 1.0X</td>
                        </tr>
                        <tr>
                            <td><strong>#13 - Debt to Capitalization %</strong></td>
                            <td id="debt-capitalization" style="text-align:center;">{{ debt_capitalization }}</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;"><p class="green-circle">On Track</p></td>
                            <td style="text-align:center;"> >95% = 0 pts;<95% = 5 pts </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>#14 - Administrative Ratio</strong>
                                <p style="font-size: 12px;">(Function 21+41/11+12+13+31; Funds 199, 420 + ESSER)</p>
                            </td>
                            <td id="ratio-administrative" style="text-align:center;">{{ ratio_administrative }}</td>
                            <td style="text-align:center;">10</td>
                            <td style="text-align:center;"><p class="green-circle">On Track</p></td>
                            <td style="text-align:center;"> Target &lt;=15.61% <br>
                                &lt;=26.45% if less than 500 students"
                            </td>
                        </tr>
                                    <tr id="ratio-student-teacher">
                                        <td><strong>#15 - Students to Staff Ratio 15% or declines over 3 years</strong></td>
                                        <td style="text-align:center;">{{ ratio_student_teacher }}</td>
                                        <td style="text-align:center;">10</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">0  or 10 pts
                                        </td>
                                    </tr>
                                    <tr id="estimated-actual-ada">
                                        <td><strong>#16 - Actual ADA vs. Estimated ADA</strong></td>
                                        <td style="text-align:center;">{{ estimated_actual_ada }}</td>
                                        <td style="text-align:center;">5</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">within 10% variance</td>
                                    </tr>
                                    <tr id="reporting-peims">
                                        <td><strong>#17 - Accurate PEIMS reporting</strong></td>
                                        <td style="text-align:center;">{{ reporting_peims }}</td>
                                        <td style="text-align:center;">Ceiling</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">79 pts = C max if material weaknesses</td>
                                    </tr>
                                    <tr id="annual-audit">
                                        <td><strong>#19 - Annual audit compliance
                                        </strong></td>
                                        <td style="text-align:center;">{{ annual_audit }}</td>
                                        <td style="text-align:center;">10</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">Free of any material noncompliance
                                        </td>
                                    </tr>
                                    <tr id="post-financial-info">
                                        <td><strong>#20 - Post financial info on website</strong></td>
                                        <td style="text-align:center;">{{ post_financial_info }}</td>
                                        <td style="text-align:center;">5</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">0 or 5 pts</td>
                                    </tr>
                                    <tr id="approved-geo-boundaries">
                                        <td><strong>#21 - Serves students reside approved geographic<br> boundaries</strong></td>
                                        <td style="text-align:center;">{{ approved_geo_boundaries }}</td>
                                        <td style="text-align:center;">Ceiling</td>
                                        <td style="text-align:center;"><p></p></td>
                                        <td style="text-align:center;">89 pts = B max if fails</td>
                                    </tr>
                                        <tr id="estimated-first-rating" >
                                            <td style="text-align:center;border-bottom:none; height:80px;">
                                                <strong>Estimated FIRST Rating</strong><br>
                                                <strong>{{ fiscal_year }}-{{ next_fiscal_year }} School Year</strong>
                                            </td>
                                            <td colspan = "2" style="text-align:center;border-bottom:none;">
                                                {{ estimated_first_rating }}<br>
                                                <a id="rating-grade"></a>
                                            </td>

                                            <td  style="text-align:center; "><p></p></td>
                                            <td style="text-align:left; padding-left:20px!important;">
                                                F &lt; 69, C Meets Standard = 70-79, <br>
                                                B Above Standard = 80-89, <br>
                                                A Superior = 90-100"
                                            </td>
                                        </tr>
               {% comment %} <tr>
                                            <td style="text-align:center;border-top:none;"><strong>2022-2023 School Year</strong></td>
                                            <td id="rating-grade" colspan="2" style="text-align:center; border-top:none;"></td>
                                        </tr>  {% endcomment %}
                                        <tr style="height: 40px;">
                                            <td colspan="5" >
                                                {% comment %} <div class="row">
                                                    <div class="col">
                                                        <div class="circle-legend">
                                                            <p class="green-circle" >G</p>
                                                            <p class="legend-text">On Track</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="circle-legend">
                                                            <p class="yellow-circle" style="margin:0;">Y</p>
                                                            <p class="legend-text">Of Concern</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="circle-legend">
                                                            <p class="red-circle" style="margin:0;">R</p>
                                                            <p class="legend-text">At Risk</p>
                                                        </div>
                                                    </div> {% endcomment %}
                                                    <div>
                                                        <div style="text-align: center;">
                                                           
                                                            <a><strong>Link to Calculations:</strong> </a>
                                                                <a class="legend-text" href="https://textreg.sos.state.tx.us/fids/202105100-4.pdf">https://textreg.sos.state.tx.us/fids/202105100-4.pdf</a>
                                                      
                                                    </div>
                                                </div>
                                            {% comment %} </div> {% endcomment %}
                                            </td>
                                         </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="modal" id="spinner-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center" role="document">
                        <div class="modal-content  p-0 w-auto h-auto">
                            <div class="modal-body text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of spinner modal -->





{% endblock %}

{% block javascript %}
<script>
    var school = "{{ school }}";
    var year = "{{fiscal_year}}";
</script>
    <script src="{% static 'js/excel.js' %}"></script>
    <script src="{% static 'js/charter.js' %}"></script>
{% endblock %}
