{% extends 'temps/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ school_name }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports.css' %}">
{% endblock %}

{% block body %}
    <div id="content-wrapper">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-end">

            <div class="d-flex align-items-center flex-grow-1 justify-content-center">
                <h5 class="text-center" style="color: black; " >{{ school_name }}</h5>
            </div>
                <a id="export-pdf-button" class="navbar-brand mr-2 text-secondary " href="#" data-toggle="modal" data-target="#spinner-modal" title="Export to PDF"><i class="fas fa-file-pdf"></i></a>

                {% if request.user|has_group:"admin" %}
                
         
                        <button id="edit-button" class="btn btn-sm btn-secondary" type="button" data-toggle="modal" data-target="#txtModal">Edit</button>
  
                {% endif %}
          
        </nav>

        <div id="export-content" class="container">
            <div id="dashboard-body">
                <div id="dashboard-title" class="d-flex flex-row align-items-center justify-content-center">
                    <div class="col-1">
                        <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo">
                    </div>
                    <div class="col-10">
                        <h2 class="text-center">Financial Update for the Board of Directors</h2>
                    </div>
                    <div class="col-1">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-7 p-2">
                        <div id="financial-update" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="m-0">For the period ended {{ date|date:"m/d/Y" }}</p>
                                        <p>Based on Unaudited Financial Statements</p>
                                    </div>

                                    {% if request.user|has_group:"admin" %}
                                        <div class="col-2 d-flex justify-content-end align-items-start">
                                            <button id="edit-notes" class="btn d-flex justify-content-center align-items-center m-0 p-0" title="Edit Notes" style="height:30px;width:30px;">
                                                <span class="material-symbols-outlined">
                                                    edit
                                                </span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Key Ratio/Indicator</th>
                                            <th>Results</th>
                                            <th><div style="width: 100px;">Status</div></th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="ytd">
                                            <td>
                                                <p>YTD Net Income (excluding depreciation)</p>
                                                <p>Post non-operating expenses</p>
                                            </td>
                                            <td>
                                                <p>{{ net_income_ytd }}</p>
                                                <p>{{ net_earnings }}</p>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="legend green-circle"> On Track </div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.0 }}</td>
                                        </tr>
                                        <tr id="days-coh">
                                            <td>Days Cash on Hand</td>
                                            <td>{{ days_coh }} days</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.1 }}</td>
                                        </tr>
                                        <tr id="admin-ratio">
                                            <td>
                                                <p>Administrative Ratio</p>
                                                <p>(By function: 21+41/11+12+13+31)</p>
                                            </td>
                                            <td>{{ ratio_administrative }}</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="legend green-circle"> On Track </div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.2 }}</td>
                                        </tr>
                                        <tr id="student-staff">
                                            <td>Did the student-to-staff ratio decline more than 15%?</td>
                                            <td>No</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.3 }}</td>
                                        </tr>
                                        <tr id="debt-service">
                                            <td>
                                                <p>Debt Service Coverage Ratio</p>
                                                <p>(EBIDA / Interest + Principal)</p>
                                            </td>
                                            <td>{{ debt_service }}X</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.4 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="table-save" class="d-none align-items-center justify-content-center mt-2" hidden>
                                    <form>
                                        {% csrf_token %}
                                    </form>
                                    <button class="save btn btn-primary mr-1" data-school="{{ school }}">Save</button>
                                    <button class="cancel btn btn-secondary ml-1">Cancel</button>
                                </div>
                            </div> <!-- End of content div -->
                        </div> <!-- End of financial updates -->
                    </div> <!-- End of col 2-->

     

                    <div class="col-md-5 col-lg-5 p-2">
                        <div id="agenda" class="card shadow m-0 h-100">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Agenda Topics and Decision Points</h1>
                                </div>
                                <div id="txtAgenda">
                                    {{ data.agendas }}
                                </div>
                            </div> <!-- end of card-body -->
                        </div> <!-- End of Activities -->
                    </div> <!-- end of financial graphs -->
                </div> <!-- End of row 1 -->


                <div class="row mt-2 mb-2">
                    <div class="col-md-7 col-lg-7 p-2">
                        <div id="activities" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Activities in Progress</h1>
                                </div>
                                <div id="txtActivities">
                                    {{ data.activities }}
                                </div>
                            </div> <!-- end of card-body -->
                        </div> <!-- End of Activities -->
                    </div> <!-- end of col1 -->

                    <div class="col-md-5 col-lg-5 p-2">
                        <div id="accomplishments" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Accomplishments</h1>
                                </div>
                                <div id="txtAccomplishments">
                                    {{ data.accomplishments }}
                                </div>
                            </div> <!-- end of cardbody -->
                        </div> <!-- End of accomplishments -->
                    </div> <!-- end of col2 -->
                </div> <!-- End of row 2-->
            </div>


            {% comment %} <!<div id="dashboard-footer">
                <div class="d-flex align-items center justify-content-center">
                    <hr class="bottom-line bg-dark">
                </div>
                <div id="bottom-legend" class="row d-flex align-items-center justify-content-center p-2">
               

                    <!-- <div class="col d-flex p-0"> -->
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="legend green-circle">
                                <span>On Track</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>On Track</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="legend yellow-circle">
                                 <span>Of Concern</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>Of Concern</span>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="legend red-circle">
                                <span>R</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>At Risk</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="legend blue-circle">
                                <span>C</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>Complete</span>
                        </div>
                    </div>
                    <!-- </div> -->
                </div> <!-- End of bottom legend -->
            </div> <!-- end of dashboard-footer --> {% endcomment %}
        </div> <!-- End of container -->


    </div>  <!-- End of content-wrapper -->

    <div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="txtModalLabel">Edit Activities/Accomplishments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column w-100 justify-content-center">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="text-center">
                                {{ form.activities.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.activities }}
                            </div>
                            <div class="text-center">
                                {{ form.accomplishments.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.accomplishments }}
                            </div>
                            <div class="text-center">
                                {{ form.agendas.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.agendas }}
                            </div>
                        </div>

                        <div class="edit-accomplishments">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveEdit" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="spinner-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center" role="document">
            <div class="modal-content  p-0 w-auto h-auto">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of spinner modal -->
{% endblock %}

{% block javascript %}

                                                                                                                                              <!--AM Charts-->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>

                                                                                                                                                           <!--My scripts-->
    <script src="{% static 'js/reports.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    {% comment %}
    {% endcomment %}

{% endblock %}
