{% extends 'temps/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ school_name }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports.css' %}">
    <style>

      
.side-panel {
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    padding: 0px;
    height: 100%;
    position: fixed;
    right: 18px;
    top: 0;
    overflow: hidden;
    z-index: 3;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-container {
    position: relative;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0);
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin-bottom: 15px;
    z-index: 3;
}

.collapsible-panel {
    position: fixed;
    top: 40px;
    right: 0;
    height: 100%;
    width: 140px; /* Adjust the width as needed */
    background-color: #f0f0f0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 3;
}

.collapsible-panel nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden-panel {
    display:none;
}
    </style>
{% endblock %}

{% block body %}
    <div id="content-wrapper">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-end">

            <div class="d-flex align-items-center flex-grow-1 justify-content-center">
                <div class="col-1">
                    {% if ascender == "True" %} 
                    {% with 'ascender' as school %}
                    <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; ">
                {% endwith %}
                {% else %}
                {% with 'skyward' as school %}
                <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; width:60px;">
            {% endwith %}
                {% endif %}
            
                
                </div>
                <div class="col-10">
                  <h5 class="text-center" style="color: black; padding-right:35px;">
                    {{ school_name }}
                  </h5>
                </div>
                <div class="col-1">
                 
            
                </div>
            </div>
                {% comment %} <a id="export-pdf-button" class="navbar-brand mr-2 text-secondary " href="#" data-toggle="modal" data-target="#spinner-modal" title="Export to PDF"><i class="fas fa-file-pdf"></i></a>

                {% if role == "admin" %}
                
         
                        <button id="edit-button" class="btn btn-sm btn-secondary" type="button" data-toggle="modal" data-target="#txtModal">Edit</button>
  
                {% endif %}
           {% endcomment %}
        </nav>

        <div class="side-panel"  id="sidePanel">
            <div class="side">
                <div style="margin-top:300px"></div>

                <a
                class="text-secondary circle-container" 
         
                data-toggle="tooltip" 
                title="Side Panel"
                data-placement="left"
                onclick="togglePanel()"
                >
                <i id="panelIcon" class="fa-solid fa-angles-left"></i>

                <a id="export-pdf-button" 
                class="circle-container text-secondary " 
                href="#" 
                data-toggle="modal" 
                data-target="#spinner-modal" 
                title="Export to PDF"
                data-placement="left"
                >
                <i class="fas fa-file-pdf"></i></a>


                {% if role == "admin" %}
                
         
                <a id="edit-button" 
                class="circle-container btn-secondary" 
 
                data-toggle="modal" 
                
                data-target="#txtModal"
                title="Edit"
                data-placement="left"
                >
                <i class="fa-solid fa-pen-to-square margintop"

                ></i>
            </a>

        {% endif %}

      
      
            </div> <!-- end of side class -->
        </div> <!-- end of side-panel -->

        <div class="collapsible-panel" id="collapsiblePanel" style="display: none;">
            <nav>
                <ul>
                    {% for year, months in charter_dict.items %}
                        <li>
                            <a
                                class="nav-link"
                                href="#"
                                data-placement="right"
                                style="color: gray; padding-bottom:0;"
                                onclick="toggleMonths('{{ year }}')"

                            >
                                <span class="text-center" style="color: gray;">{{ year }}</span>
                            </a>
                            {% comment %} <ul id="{{ year }}-months" style="display: none;"> {% endcomment %}
                                <ul id="{{ year }}-months" >
                                {% for month in months %}
                                    <li style="margin-left:40px;">
                                        <a href="/dashboard/{{ school }}/{{year}}/{{month.month_number}}" style="color: gray;">
                                            <span style="color: gray;">{{ month.month_name }}</span>

                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        
        <script>

            var currentURL = window.location.href;
            var school = "{{ school }}";
            var yr = "{{ FY }}";
            console.log(yr)
            console.log(school)
            // Check if the current URL contains the specific pattern
            if (currentURL.includes("/dashboard/{{ school }}/{{year}}/")) {
                // If the URL matches, set the initial display state of the collapsible panel to 'block'
                document.getElementById("collapsiblePanel").style.display = "block";
                document.getElementById("sidePanel").style.display = "block";
                document.getElementById("sidePanel").style.right = "160px";
                document.getElementById("panelIcon").className = "fa-solid fa-angles-right";
                console.log(currentURL)
            }
          

            

            function toggleMonths(year) {
                var months = document.getElementById(year + "-months");
                months.style.display = (months.style.display === "none" || months.style.display === "") ? "block" : "none";
            }
        </script>
        <script>
            function togglePanel() {
                var panel = document.getElementById("collapsiblePanel");
                var sidePanel = document.getElementById("sidePanel");
                var panelIcon = document.getElementById("panelIcon");

                panel.style.display = (panel.style.display === "none" || panel.style.display === "") ? "block" : "none";
                sidePanel.style.right = (panel.style.display === "none") ? "18px" : "150px";
                panelIcon.className = (panel.style.display === "none") ? "fa-solid fa-angles-left" : "fa-solid fa-angles-right";


            }
        </script>


        <div id="export-content" class="container">
            <div id="dashboard-body">
                <div id="dashboard-title" class="d-flex flex-row align-items-center justify-content-center">
                    <div class="col-1">
                        <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo">
                    </div>
                    <div class="col-10">
                        <h2 class="text-center">Financial Update for the Board of Directors</h2>
                    </div>
                    <div class="col-1">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 p-2">
                        <div id="financial-update" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="m-0">For the period ended {{ date|date:"m/d/Y" }}</p>
                                        <p>Based on Unaudited Financial Statements</p>
                                    </div>

                                    {% if role == "admin" %}
                                        <div class="col-2 d-flex justify-content-end align-items-start">
                                            <button id="edit-notes" class="btn d-flex justify-content-center align-items-center m-0 p-0" title="Edit Notes" style="height:30px;width:30px;">
                                                <span class="material-symbols-outlined">
                                                    edit
                                                </span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Key Ratio/Indicator</th>
                                            <th>Results</th>
                                            <th><div style="width: 100px;">Status</div></th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="ytd">
                                            <td>
                                                <p>YTD Net Income (excluding depreciation)</p>
                                                <p>Post non-operating expenses</p>
                                            </td>
                                            <td>
                                                <p>{{ net_income_ytd }}</p>
                                                <p>{{ net_earnings }}</p>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="legend green-circle"> On Track </div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.0 }}</td>
                                        </tr>
                                        <tr id="days-coh">
                                            <td>Days Cash on Hand</td>
                                            <td>{{ days_coh }} days</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.1 }}</td>
                                        </tr>
                                        <tr id="admin-ratio">
                                            <td>
                                                <p>Administrative Ratio</p>
                                                <p>(By function: 21+41/11+12+13+31)</p>
                                            </td>
                                            <td>{{ ratio_administrative }}</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="legend green-circle"> On Track </div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.2 }}</td>
                                        </tr>
                                        <tr id="student-staff">
                                            <td>Did the student-to-staff ratio decline more than 15%?</td>
                                            <td>No</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.3 }}</td>
                                        </tr>
                                        <tr id="debt-service">
                                            <td>
                                                <p>Debt Service Coverage Ratio{{anch_month}}</p>
                                                <p>(EBIDA / Interest + Principal)</p>
                                            </td>
                                            <td>{{ debt_service }}X</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="status"></div>
                                                </div>
                                            </td>
                                            <td name="notes">{{ data.notes.4 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="table-save" class="d-none align-items-center justify-content-center mt-2" hidden>
                                    <form>
                                        {% csrf_token %}
                                    </form>
                                    <button class="save btn btn-primary mr-1" data-school="{{ school }}" data-fy="{{anchor_year}}" data-anch_month="{{anch_month}}">Save</button>
                                    <button class="cancel btn btn-secondary ml-1">Cancel</button>
                                </div>
                            </div> <!-- End of content div -->
                        </div> <!-- End of financial updates -->
                    </div> <!-- End of col 2-->

     

                    <div class="col-md-5 col-lg-5 p-2">
                        <div id="agenda" class="card shadow m-0 h-100">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Agenda Topics and Decision Points</h1>
                                </div>
                                <div id="txtAgenda">
                                    {{ data.agendas }}
                                </div>
                            </div> <!-- end of card-body -->
                        </div> <!-- End of Activities -->
                    </div> <!-- end of financial graphs -->

                    <div class="col-md-1 col-lg-1 p-2">
                    </div>


                </div> <!-- End of row 1 -->


                <div class="row mt-2 mb-2">
                    <div class="col-md-6 col-lg-6 p-2">
                        <div id="activities" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Activities in Progress</h1>
                                </div>
                                <div id="txtActivities">
                                    {{ data.activities }}
                                </div>
                            </div> <!-- end of card-body -->
                        </div> <!-- End of Activities -->
                    </div> <!-- end of col1 -->

                    <div class="col-md-5 col-lg-5 p-2">
                        <div id="accomplishments" class="card h-100 m-0 shadow">
                            <div class="card-body">
                                <div>
                                    <h1 class="heading">Accomplishments</h1>
                                </div>
                                <div id="txtAccomplishments">
                                    {{ data.accomplishments }}
                                </div>
                            </div> <!-- end of cardbody -->
                        </div> <!-- End of accomplishments -->
                    </div> <!-- end of col2 -->

                    <div class="col-md-1 col-lg-1 p-2">
                    </div>

                </div> <!-- End of row 2-->
            </div>


            {% comment %} <!<div id="dashboard-footer">
                <div class="d-flex align-items center justify-content-center">
                    <hr class="bottom-line bg-dark">
                </div>
                <div id="bottom-legend" class="row d-flex align-items-center justify-content-center p-2">
               

                    <!-- <div class="col d-flex p-0"> -->
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="legend green-circle">
                                <span>On Track</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>On Track</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="legend yellow-circle">
                                 <span>Of Concern</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>Of Concern</span>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="legend red-circle">
                                <span>R</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>At Risk</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="legend blue-circle">
                                <span>C</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center m-2">
                            <span>Complete</span>
                        </div>
                    </div>
                    <!-- </div> -->
                </div> <!-- End of bottom legend -->
            </div> <!-- end of dashboard-footer --> {% endcomment %}
        </div> <!-- End of container -->


    </div>  <!-- End of content-wrapper -->

    <div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="txtModalLabel">Edit Activities/Accomplishments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column w-100 justify-content-center">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="text-center">
                                {{ form.activities.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.activities }}
                            </div>
                            <div class="text-center">
                                {{ form.accomplishments.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.accomplishments }}
                            </div>
                            <div class="text-center">
                                {{ form.agendas.label_tag }}
                            </div>
                            <div class="m-auto" style="width:100%;">
                                {{ form.agendas }}
                            </div>
                        </div>

                        <div class="edit-accomplishments">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveEdit" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="spinner-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center" role="document">
            <div class="modal-content  p-0 w-auto h-auto">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of spinner modal -->
{% endblock %}

{% block javascript %}

                                                                                                                                              <!--AM Charts-->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>

                                                                                                                                                           <!--My scripts-->
    <script src="{% static 'js/reports.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    {% comment %}
    {% endcomment %}

{% endblock %}
