<!DOCTYPE html>
{% extends 'temps/base.html' %}
{% load static %}

{% block title %}
{{ school_name }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/charts.css' %}">

<!--  Material icons -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
{% endblock %}

{% block body %}
<div id="content-wrapper">

<nav class="navbar navbar-expand navbar-dark bg-dark ">

    <a class="navbar-brand mr-1 text-primary " href="" ></a>
    

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
    </form>
    <a class="navbar-brand mr-1 text-primary " href="https://app.powerbi.com/groups/031634b4-01f7-4358-856c-e48f6f5fcaca/reports/61085bf2-1355-4ac4-adfd-c41d2ede3d1a/ReportSection3e1e5b586b7d627ce437?experience=power-bi" ><i class="fas fa-file-powerpoint"></i></a>
    <!-- Navbar -->
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="navbar-brand mr-1 text-primary " href="/profit-loss/{{ school }}" ><i class="fas fa-table"></i></a>
    
      
  

</nav>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
{% comment %} <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
  <h1>Total Revenue</h1>
  <div id="totalrevenue" style="width: 100%; height: 400px;"></div>
</div>
        

<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
  <h1>Total Expense</h1>
  <div id="totalfirst" style="width: 100%; height: 400px;"></div>
</div> {% endcomment %}
        

<div class="container">
  <div class="insights " >
      <!--START rating-->
      <div class="rating">
          <div class="top">
              <h1>Financial Perfomance Dashboard</h1>
           
          </div><!--end top-->
         <div id="chartdiv"></div>
         <h1 id="formattedTotal"></h1>
      </div>
      <script>
        var ytd_total = "{{totals.ytd_total_revenue}}";
        var formattedTotal = '$' + parseInt(ytd_total).toLocaleString() + " YTD";
      
        // Get the div element where you want to display the formatted total
        var formattedTotalDiv = document.getElementById("formattedTotal");
      
        // Update the content of the div with the formatted total
        formattedTotalDiv.textContent = formattedTotal;
      </script>
      <!--END rating-->

      <div class="ratios">
          
      </div><!--END ratios-->
  </div> <!--END insights-->

  <div class="insights">

      <!--START totalrevenue -->
      <div class="net-income">
          <div>
              
              <h2>Revenue</h2>
          </div>
          <div id="totalrevenue" style="width: 100%; height: 400px;">
          </div>
      </div><!--END totalrevenue-->
      <div id="totalfirst" style="width: 100%; height: 400px;">
          <h2>Expenses</h2>
         


      </div><!--END total first-->

  </div> <!--END insights-->
</div> 


</div>



{% endblock %}
{% block javascript %}

<!--AM Charts-->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>

<!-- my scripts-->


<script>
  am5.ready(function() {

    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
    // start and end angle must be set both for chart and series
    var chart = root.container.children.push(am5percent.PieChart.new(root, {
      startAngle: 180,
      endAngle: 360,
      layout: root.verticalLayout,
      innerRadius: am5.percent(50)
    }));
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
    // start and end angle must be set both for chart and series
    var series = chart.series.push(am5percent.PieSeries.new(root, {
      startAngle: 180,
      endAngle: 360,
      valueField: "total",
      categoryField: "total",
      alignLabels: false
    }));
    
    series.states.create("hidden", {
      startAngle: 180,
      endAngle: 180
    });
    
    series.slices.template.setAll({
      cornerRadius: 5
    });
    
    series.ticks.template.setAll({
      forceHidden: true
    });
    
    // Set data
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
    var ytd_data = {{ totals.ytd_total_revenue|safe }}; // Your data goes here
    var chartData = [];
    console.log(ytd_data)
    var monthName = "se";


    
      chartData.push({
        month: monthName,
        total: ytd_data
      });

    console.log(chartData)
    series.data.setAll(chartData);
    
    series.appear(1000, 100);
    
    }); // end am5.ready()
</script>
<script>
  
  am5.ready(function() {
    var root = am5.Root.new("totalrevenue");
    
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      pinchZoomX: true
    }));
    
    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
    cursor.lineY.set("visible", false);
    
    
    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
    xRenderer.labels.template.setAll({
      rotation: -90,
      centerY: am5.p50,
      centerX: am5.p100,
      paddingRight: 15
    });
    
    xRenderer.grid.template.setAll({
      location: 1
    })
    
    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "month",
      renderer: xRenderer,
      tooltip: am5.Tooltip.new(root, {}),
      min: "09",
 
    }));
    
    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "total",
      renderer: am5xy.AxisRendererY.new(root, {
        strokeOpacity: 0.1
      })
    }));
    
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: "Total Revenue",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "total",
      sequencedInterpolation: true,
      categoryXField: "month",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));
    
    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
    series.columns.template.adapters.add("fill", function(fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    series.columns.template.adapters.add("stroke", function(stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    
    // Set data
    var revenue_data = {{ data|safe }}; // Your data goes here
  
    
    var chartData = [];
    var monthSums = {};

  for (var i = 1; i <= 12; i++) {
    monthSums['total_real' + i] = 0;
  }

  revenue_data.forEach(function(item) {
    for (var i = 1; i <= 12; i++) {
      monthSums['total_real' + i] += item['total_real' + i];
      
    }
  });

  for (var i = 1; i <= 12; i++) {
    monthSums['total_real' + i] = monthSums['total_real' + i] * -1
  }



   var monthNames = {
      "1": "January",
      "2": "February",
      "3": "March",
      "4": "April",
      "5": "May",
      "6": "June",
      "7": "July",
      "8": "August",
      "9": "September",
      "10": "October",
      "11": "November",
      "12": "December"
    };
    for (var month in monthSums) {
      parsed_month = month.replace("total_real","")
      var monthName = monthNames[parsed_month] || parsed_month; // Use the month name from the mapping, or the numeric value if not found
      chartData.push({
        month: monthName,
        total: monthSums[month]
      });
    }
    
    // Log the data to the console for debugging
   
    xAxis.data.setAll(chartData);
    series.data.setAll(chartData);
    
    
    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
    
    }); // end am5.ready()

  
</script>

<script>
  
  am5.ready(function() {
    var root = am5.Root.new("totalfirst");
    
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      pinchZoomX: true
    }));
    
    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
    cursor.lineY.set("visible", false);
    
    
    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
    xRenderer.labels.template.setAll({
      rotation: -90,
      centerY: am5.p50,
      centerX: am5.p100,
      paddingRight: 15
    });
    
    xRenderer.grid.template.setAll({
      location: 1
    })
    
    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "month",
      renderer: xRenderer,
      tooltip: am5.Tooltip.new(root, {}),
      min: "09",
 
    }));
    
    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "total",
      renderer: am5xy.AxisRendererY.new(root, {
        strokeOpacity: 0.1
      })
    }));
    
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: "Total Revenue",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "total",
      sequencedInterpolation: true,
      categoryXField: "month",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));
    
    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
    series.columns.template.adapters.add("fill", function(fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    series.columns.template.adapters.add("stroke", function(stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    
    // Set data
    var monthTotals = {{ totals.total_expense_months|safe }}; // Your data goes here

// Create a mapping of month numbers to month names
var monthNames = {
  "01": "January",
  "02": "February",
  "03": "March",
  "04": "April",
  "05": "May",
  "06": "June",
  "07": "July",
  "08": "August",
  "09": "September",
  "10": "October",
  "11": "November",
  "12": "December"
};

// Convert the data to an array of objects with month names
var chartData = [];

for (var month in monthTotals) {
  var monthName = monthNames[month] || month; // Use the month name from the mapping, or the numeric value if not found
  chartData.push({
    month: monthName,
    total: monthTotals[month]
  });
}
    
    // Log the data to the console for debugging

    xAxis.data.setAll(chartData);
    series.data.setAll(chartData);
    
    
    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
    
    }); // end am5.ready()

  
</script>
{% endblock %}
