<!DOCTYPE html>
{% extends 'temps/base_home.html' %}
{% load static %}
{% block title %}
    {{ school_name }}
{% endblock %}

{% block stylesheet %}


    <link rel="stylesheet" href="{% static 'css/profit-loss.css' %}">
<style>


    .side-panel{
        width: 100px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        padding: 0px;
        height: 100%;
        position: fixed;
        right: 18px;
        top: 0;
      
      
      }
      
      .side{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
      }
      .circle-container {
        border-radius: 50%;
        background-color: rgba(211, 211, 211, 0); /* Adjust the alpha value for transparency */
        width: 36px; /* Adjust the width and height to control the size of the circle */
        height: 36px;
        display: flex ;
        flex-direction: column ;
        align-items: center ;
        justify-content: center ;
        border: 1px solid gray; /* Black border */
        margin-bottom: 15px;
      }

.circle-container-child {
    position: absolute;
    right: 50px;
    bottom: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
      a:hover{
        cursor:pointer;
      }
      .hidden-column {
        background-color: lightgreen!important;
      }      
      .popover {
        background-color: black;
        color: white;
      }
    
      .popover-body {
        background-color: black;
        color: white;
      }
    

</style>
{% endblock %}


{% block body %}

    <div id="content-wrapper">
        <nav class="navbar navbar-expand navbar-light bg-light  justify-content-end">
            <div class="d-flex align-items-center flex-grow-1 justify-content-center">
                <div class="col-1">
                 
                </div>
                <div class="col-10">
                  <h5 class="text-center" style="color: black;">
                    SCHOOL STATUS
                  </h5>
                </div>
                <div class="col-1">
                 
                </div>
            </div> 
        </nav> 
        <div class="table-container" >
        <form  id="insert-row-form" action="#" method="POST">
                {% csrf_token %}
            <div id="table-box">
                <table id="data-table" class="table table-hover" style="width: auto !important;">
                    <thead>
                    </thead>
                    <tbody id="data-table-body">
                        <tr class="header text-center" >
                            <th><div style="width:300px;" >School Name</div></th>
                            <th><div style="width:150px;">Budget</div></th>
                            <th><div style="width:150px;">Profit Loss</div></th>
                            <th><div style="width:150px;">Balance Sheet</div></th>
                            <th><div style="width:150px;">Cashflow</div></th>
                            <th><div style="width:150px;">Last Update</div></th>
                            <th><div style="width:150px;">Update Status</div></th>
                            <th><div style="width:150px;">Download GL</div></th>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: center;"><strong>ASCENDER</strong></td>

                        </tr>
                        {% for row in school_data %} 
                       
                        {% if row.ascender == 'True' %}

                        <tr>
                        
                            <td>{{row.school_name}}</td>
                            <td class="text-center">
                                {% if row.PLbudget_status == "True" %}

                                <a href="#" class="viewPL" data-school="{{row.school_key}}" data-toggle="tooltip" title="Has Budget" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                <a href="#" 
                                class="viewPL" 
                                data-school="{{row.school_key}}" 
                                data-toggle="popover"
                                data-content="{% if row.PLbudget_status != 'True' %}{{ row.PLbudget_status }}<br>{% endif %}"
                                style="color: red;"
                                >
                                    <i class="fa-solid fa-x"></i>
                                {% endif %}
                                
                            </td>
                            <td class="text-center">
                                {% if row.PLrevenue_status == "True" and row.PLexpense_status == "True" and row.PLtotalexpense_status == "True" and row.pl_balanced == "True" %}

                                <a href="#" class="viewPL" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                <a href="#" 
                                class="viewPL" 
                                data-school="{{row.school_key}}" 
                                data-toggle="popover"
                                data-content=" {% if row.pl_balanced != 'True' %} {{ row.pl_balanced }}<br>{% endif %}
                                {% if row.PLrevenue_status != 'True' %} {{ row.PLrevenue_status }}<br>{% endif %}
                                {% if row.PLexpense_status != 'True' %}{{ row.PLexpense_status }}<br>{% endif %}
                                {% if row.PLtotalexpense_status != 'True' %}{{ row.PLtotalexpense_status }}{% endif %}"
                                style="color: red;"
                                >
                                    <i class="fa-solid fa-x"></i>
                                {% endif %}
                                
                            </td>

                            <td class="text-center">
                               
                                    {% if row.BS_status == "BALANCED" %}
                                    <a href="#" class="viewBS" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                    {% else %}
                                    <a href="#" class="viewBS" data-school="{{row.school_key}}" data-toggle="tooltip" title="NOT BALANCED" style="color: red;">
                                    <i class="fa-solid fa-x"></i>
                                    {%endif%}
                                    </a>
                            </td>
                            <td class="text-center">

                                {% if row.CF_status == "BALANCED" %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                <i class="fa-solid fa-check"></i>
                                </a>
                                {% elif row.CF_status == "NO DATA" %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="NO DATA" style="color: red;">
                                <i class="fa-solid fa-x"></i>
                                </a>
                                {% else %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="NOT BALANCED" style="color: red;">
                                <i class="fa-solid fa-x"></i>
                                </a>
                                {% endif %}


                            </td>

                            <td class="text-center">
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: black;">
                                    {{row.last_update}}
                                </a>
                            </td>
                            <td class="text-center">

                                    {% if row.update_status == "PASS" %}
                                    <a href="#" class="" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: lightgreen;">
                                        <i class="fa-solid fa-check"></i>
                                    </a>
                                    {%else%}
                                    <a href="#" class="" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: red;">
                                        <i class="fa-solid fa-x"></i>
                                    </a>
                                    {%endif%}

                            </td>

                            <td class="text-center">
                                <a id="{{row.school_key}}"  class="DLGL"  data-toggle="tooltip" title="Download {{row.school_name}} GL" style="color: #007bff;">
                                    <i class="fa-solid fa-download"></i>
                                </a>
                            </td>


                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr>
                            <td colspan="8" style="text-align: center;"><strong>SKYWARD</strong></td>

                        </tr>
                        {% for row in school_data %} 
                       
                        {% if row.ascender == 'False' %}

                        <tr>
                        
                            <td>{{row.school_name}}</td>
                            <td class="text-center">
                                {% if row.PLbudget_status == "True" %}

                                <a href="#" class="viewPL" data-school="{{row.school_key}}" data-toggle="tooltip" title="Has Budget" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                <a href="#" 
                                class="viewPL" 
                                data-school="{{row.school_key}}" 
                                data-toggle="popover"
                                data-content="{% if row.PLbudget_status != 'True' %}{{ row.PLbudget_status }}<br>{% endif %}"
                                style="color: red;"
                                >
                                    <i class="fa-solid fa-x"></i>
                                {% endif %}
                                
                            </td>
                            <td class="text-center">
                                {% if row.PLrevenue_status == "True" and row.PLexpense_status == "True" and row.PLtotalexpense_status == "True" and row.pl_balanced == "True" %}

                                <a href="#" class="viewPL" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                <a href="#" 
                                class="viewPL" 
                                data-school="{{row.school_key}}" 
                                data-toggle="popover"
                                data-content=" {% if row.pl_balanced != 'True' %} {{ row.pl_balanced }}<br>{% endif %}
                                {% if row.PLrevenue_status != 'True' %} {{ row.PLrevenue_status }}<br>{% endif %}
                                {% if row.PLexpense_status != 'True' %}{{ row.PLexpense_status }}<br>{% endif %}
                                {% if row.PLtotalexpense_status != 'True' %}{{ row.PLtotalexpense_status }}{% endif %}"
                                style="color: red;"
                                >
                                    <i class="fa-solid fa-x"></i>
                                {% endif %}
                                
                            </td>

                            <td class="text-center">
                               
                                    {% if row.BS_status == "BALANCED" %}
                                    <a href="#" class="viewBS" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                    <i class="fa-solid fa-check"></i>
                                    {% else %}
                                    <a href="#" class="viewBS" data-school="{{row.school_key}}" data-toggle="tooltip" title="NOT BALANCED" style="color: red;">
                                    <i class="fa-solid fa-x"></i>
                                    {%endif%}
                                    </a>
                            </td>
                            <td class="text-center">

                                {% if row.CF_status == "BALANCED" %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="BALANCED" style="color: lightgreen;">
                                <i class="fa-solid fa-check"></i>
                                </a>
                                {% elif row.CF_status == "NO DATA" %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="NO DATA" style="color: red;">
                                <i class="fa-solid fa-x"></i>
                                </a>
                                {% else %}
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="NOT BALANCED" style="color: red;">
                                <i class="fa-solid fa-x"></i>
                                </a>
                                {% endif %}


                            </td>

                            <td class="text-center">
                                <a href="#" class="viewCF" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: black;">
                                    {{row.last_update}}
                                </a>
                            </td>
                            <td class="text-center">

                                    {% if row.update_status == "PASS" %}
                                    <a href="#" class="" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: lightgreen;">
                                        <i class="fa-solid fa-check"></i>
                                    </a>
                                    {%else%}
                                    <a href="#" class="" data-school="{{row.school_key}}" data-toggle="tooltip" title="{{row.school_key}}" style="color: red;">
                                        <i class="fa-solid fa-x"></i>
                                    </a>
                                    {%endif%}

                            </td>

                            <td class="text-center">
                                <a id="{{row.school_key}}"  class="DLGL"  data-toggle="tooltip" title="Download {{row.school_name}} GL" style="color: #007bff;">
                                    <i class="fa-solid fa-download"></i>
                                </a>
                            </td>


                        </tr>
                        {% endif %}
                        {% endfor %}

                        <script>
                            $(document).ready(function(){
                              $('[data-toggle="popover"]').popover({
                                html: true,
                                trigger: 'hover'
                              });
                            });
                          </script>
                    </tbody>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                          
                            const currentPath = window.location.pathname;
                            $(".viewBS").on("click", function(event) {
                                event.preventDefault();
                                const school_key = $(this).data("school");
                                console.log(school_key)
                        
                                $("#page-load-spinner").modal("show");
                                window.location.href = "/balance-sheet/" + school_key;
                              
                            });

                            $(".viewCF").on("click", function(event) {
                                event.preventDefault();
                                const school_key = $(this).data("school");
                                console.log(school_key)
                        
                                $("#page-load-spinner").modal("show");
                                window.location.href = "/cashflow-statement/" + school_key;
                              
                            });

                            $(".viewPL").on("click", function(event) {
                                event.preventDefault();
                                const school_key = $(this).data("school");
                                console.log(school_key)
                        
                                $("#page-load-spinner").modal("show");
                                window.location.href = "/profit-loss/" + school_key;
                            });
                            
                            $(".DLGL").on("click", function (event) {
                                              
                                event.preventDefault();
                                var school_id = $(this).attr("id");
    
                               
                                $("#spinner-modal").modal("show");
                            
                             
                                fetch('/download-csv/' + school_id)
                                    .then(function (response) {

                                        
                                        return response.blob();
                                    })
                                    .then(function (blob) {
                                        var url = window.URL.createObjectURL(blob);
                                        var a = document.createElement('a');
                                        a.href = url;
                                        a.download = `${school_id}_GL.csv`;
                                        document.body.appendChild(a);
                                        a.click();
                                        document.body.removeChild(a);
                                        window.URL.revokeObjectURL(url);
                                    })
                                    .catch(function (error) {
                                        console.error('Error generating Excel:', error);
                                    }).finally(function (){
                                        $('#spinner-modal').modal('hide');
                                    });

                            });
                        });
                        
                    </script>
                      
            </table>
            </div>
        </form>
    </div>


    <div class="modal" id="spinner-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center" role="document">
            <div class="text-center">
                <div class="loading" role="status">
                    <h2>LOADING<h2>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div> <!-- End of spinner modal -->


{% endblock %}

{% block javascript %}
    <script>
        var school = "{{ school }}";
   

    </script>





{% endblock %}
