{% block stylesheet %}
{% load static %}
<style>

    .activebg {
        background-color: #4d4d4d!important; /* Change this to your desired background color */
        color: white!important; 
      }
    
</style>
{% endblock %}
<nav id="sidebarMenu" class="sidebar navbar-nav toggled ">
  <!-- <ul class="sidebar navbar-nav "> -->
    <ul class="sidebar navbar-nav toggled">
        <span> &nbsp; &nbsp; </span>
        <li class="nav-item" >
            <a
                id="home-link"
                class="nav-link"
                href="/home/schools"
                data-placement="right"
                style="color: gray;"
                
            >
            {% with 'home' as school %}
            <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; width:35px;">
        {% endwith %}
                {% comment %} <i class="fa-solid fa-house"></i> {% endcomment %}
                <span class="text-center" style="color: gray;">Schools</span>
            </a>
        </li>

        <span>
            <hr
                style="background-color: gray; width: 80%; margin: auto; height: 2px"
            />
        </span>
        {% if role == "admin" %}
        <li class="nav-item" >
            <a
                id="analytics-link"
                class="nav-link"
                href="/home/analytics/"
                data-toggle="tooltip"
                data-placement="right"
                title="Analytics"
                style="color: gray;"
             
            >
                {% comment %} <i class="fa-solid fa-trophy"></i> {% endcomment %}
                <!-- <span id="first-link2" style="color: gray;" >Analytics</span> -->
                {% with 'analytics' as school %}
                <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; width:35px;">
            {% endwith %}
                <span style="color: gray;" >Analytics</span>
            </a>
        </li>

        <li class="nav-item" >
            <a
                id="analytics-link"
                class="nav-link"
                href="/school-status/advantage"
                data-toggle="tooltip"
                data-placement="right"
                title="School Status"
                style="color: gray;"
             
            >
            {% with 'school_status' as school %}
            <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; width:35px;">
        {% endwith %}
                {% comment %} <i class="fa-solid fa-trophy"></i> {% endcomment %}
                <!-- <span id="first-link2" style="color: gray;" >Analytics</span> -->
                <span style="color: gray;" >School Status</span>
            </a>
        </li>

        <li class="nav-item" >
            <a
                id=""
                class="nav-link"
                href="/users/"
                data-toggle="tooltip"
                data-placement="right"
                title="School Status"
                style="color: gray;"
             
            >
            {% with 'users' as school %}
            <img class="logo" src="{% static 'logos/'|add:school|add:'.png' %}" alt="school logo" style="height:35px; width:35px;">
        {% endwith %}
                {% comment %} <i class="fa-solid fa-trophy"></i> {% endcomment %}
                <!-- <span id="first-link2" style="color: gray;" >Analytics</span> -->
                <span style="color: gray;" >Users</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
