{% extends 'dashboard/cumberland/base.html' %}
{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/reports.css' %}">

{% endblock %}

{% block body %}
<div id="content-wrapper">
    <nav class="navbar navbar-expand navbar-dark bg-dark ">
        <a class="navbar-brand mr-1 text-primary " href="" ></a>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar -->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <div>
            <a id="export-pdf-button" class="navbar-brand mr-1 text-primary " href="#" data-toggle="modal" data-target="#spinner-modal" title="Export to PDF"><i class="fas fa-file-pdf"></i></a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#txtModal">
                Edit
            </button>
        </div>
    </nav>

    <div id="export-content" class="container">
        <div id="page1" class="row mb-2 mt-2">
            <div class="col-md-7 col-lg-7 p-2">
                <div id="financial-update" class="card h-100 m-0 shadow"> 
                    <div class="card-body">
                        <h1 class="heading">Financial Update for the Board of Directors</h1>
                        <h2 class="subheading">For the period ended 7/31/2023 (unaudited financial statements)</h2>
                        <table>
                            <tr>
                                <th>
                                    <p>FIRST Key Ratio Indicator</p>
                                    <p>(Three-month comparison)</p>
                                </th>
                                <th>Benchmark</th>
                                <th>May-23</th>
                                <th>Jun-23</th>
                                <th>Jul-23</th>
                                <th>Current Status</th>
                            </tr>
                            <tr>
                                <td>YTD Net Income (excluding depreciation)</td>
                                <td>&gt; $0</td>
                                <td>$496,176</td>
                                <td>$698,736</td>
                                <td>$970,293</td>
                                <td><p class="green-circle">G</p></td>
                            </tr>
                            <tr>
                                <td>Days Cash on Hand</td>
                                <td>
                                    <p>60 Days (State)</p>
                                    <p>100+ (Lenders)</p>
                                </td>
                                <td>96</td>
                                <td>103</td>
                                <td>113</td>
                                <td><p class="green-circle">G</p></td>
                            </tr>
                            <tr>
                                <td>Admin Ratio</td>
                                <td>15%</td>
                                <td>5.9%</td>
                                <td>5.7%</td>
                                <td>5.8%</td>
                                <td><p class="green-circle">G</p></td>
                            </tr>
                            <tr>
                                <td>Debt to Capitalization %</td>
                                <td>Less than 95%</td>
                                <td>86%</td>
                                <td>85%</td>
                                <td>84%</td>
                                <td><p class="green-circle">G</p></td>
                            </tr>
                            <tr>
                                <td>Debt Service Coverage Ratio</td>
                                <td>Debt Covenant: 1.10x</td>
                                <td>0.92</td>
                                <td>1.10</td>
                                <td>1.25</td>
                                <td><p class="yellow-circle">Y</p></td>
                            </tr>
                        </table>
                    </div> <!-- End of content div -->
                </div> <!-- End of financial updates -->
            </div> <!-- End of col 2-->


            <div class="col-md-5 col-lg-5 p-2">
                <div id="financial-graphs" class="card shadow m-0 h-100">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div id="chartdiv"></div>
                        </div>
                        <div class="col">
                            <div id="chartdiv2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="chartdiv3"></div>
                        </div>
                    </div>
                    </div>
                </div> <!-- end of financial graphs -->
            </div> <!-- End of col 1-->

        </div> <!-- End of row 1-->
        <div id="page2" class="row mt-2 mb-2">
            <div class="col-md-6 col-lg-6 p-2">
                <div id="activities" class="card h-100 m-0 shadow">
                    <div class="card-body">
                    <div>
                        <h1 class="heading">Activities in Progress</h1>
                    </div>
                    <div id="txtActivities">
                        <ul>
                            {% for activity in data.activities %}
                            <li>{{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    </div> <!-- end of card-body -->
                </div> <!-- End of Activities -->
            </div> <!-- end of col1 -->

            <div class="col-md-6 col-lg-6 p-2">
                <div id="accomplishments" class="card h-100 m-0 shadow">
                    <div class="card-body">

                    <div>
                        <h1 class="heading">Accomplishments</h1>
                    </div>

                    <div id="txtAccomplishments">
                        <ul>
                            {% for accomplishment in data.accomplishments %}
                            <li>{{ accomplishment }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div> <!-- end of cardbody -->
                </div> <!-- End of accomplishments -->
            </div> <!-- end of col2 -->
        </div> <!-- End of row 2-->
    </div> <!-- End of container -->

    <div class="d-flex align-items center justify-content-center">
        <hr class="bottom-line">
    </div>
    <div id="bottom-legend" class="row d-flex align-items-center justify-content-center">
        <div class="col">
            <img class="logo" src="{% static 'logos/cumberland.png' %}" alt="advantage logo">
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row align-items-center">
                        <div class="legend green-circle mr-1">
                            <span>G</span>
                        </div>
                        <span>On Track</span>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-row align-items-center">
                        <div class="legend yellow-circle mr-1">
                            <span>Y</span>
                        </div>
                        <span>Of Concern</span>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-row align-items-center">
                        <div class="legend red-circle mr-1">
                            <span>R</span>
                        </div>
                        <span>At Risk</span>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-row align-items-center">
                        <div class="legend blue-circle mr-1">
                            <span>C</span>
                        </div>
                        <span>Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  <!-- End of content-wrapper -->

<div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtModalLabel">Edit Activities/Accomplishments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
            <div class="modal-body">
                <div class="d-flex flex-column w-100 justify-content-center">
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="text-center">
                            {{ form.activities.label_tag }}
                        </div>
                        <div class="m-auto" style="width:100%;">
                            {{ form.activities }}
                        </div>
                        <div class="text-center">
                            {{ form.accomplishments.label_tag }}
                        </div>
                        <div class="m-auto" style="width:100%;">
                            {{ form.accomplishments }}
                        </div>
                </div>

                <div class="edit-accomplishments">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveEdit" type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="spinner-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center" role="document">
        <div class="modal-content  p-0 w-auto h-auto">
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of spinner modal -->

{% endblock %}

{% block javascript %}

<!--AM Charts-->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>

<!--My scripts-->
<script src="{% static 'js/reports.js' %}"></script>

{% endblock %}

