<!DOCTYPE html>
{% extends 'dashboard/cumberland/base.html' %}
{% load static %}
<head>




</head>
{% block body %}


<div class="container-fluid">
        <div class="card-header">
            <i class="fas fa-table"></i>
            GL ADVANTAGE
            <!-- ... Add your other buttons here if needed ... -->
        </div>
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="table-dark">
                            <th>fund</th>
                            <th>func</th>
                            <th>obj</th>
                            <th>org</th>
                            <th>fscl_yr</th>
                            <th>pgm</th>
                            <th>edSpan</th>
                            <th>projDtl</th>
                            <th>AcctDescr</th>
                            <th>Number</th>
                            <th>Date</th>
                            <th>AcctPer</th>
                            <th>Est</th>
                            <th>Real</th>
                            <th>Appr</th>
                            <th>Encum</th>
                            <th>Expend</th>
                            <th>Bal</th>
                            <th>WorkDescr</th>
                            <th>Type</th>
                            <th>Contr</th>
                        </tr>
                        <tr>
                            <th>fund</th>
                            <th>func</th>
                            <th>obj</th>
                            <th>org</th>
                            <th>fscl_yr</th>
                            <th>pgm</th>
                            <th>edSpan</th>
                            <th>projDtl</th>
                            <th>AcctDescr</th>
                            <th>Number</th>
                            <th>Date</th>
                            <th>AcctPer</th>
                            <th>Est</th>
                            <th>Real</th>
                            <th>Appr</th>
                            <th>Encum</th>
                            <th>Expend</th>
                            <th>Bal</th>
                            <th>WorkDescr</th>
                            <th>Type</th>
                            <th>Contr</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for row in data3 %}
                        <tr class="table-row">
                            <td>{{row.fund}}</td>
                            <td>{{row.func}}</td>
                            <td>{{row.obj}}</td>
                            <td>{{row.org}}</td>
                            <td>{{row.fscl_yr}}</td>
                            <td>{{row.pgm}}</td>
                            <td>{{row.edSpan}}</td>
                            <td>{{row.projDtl}}</td>
                            <td>{{row.AcctDescr}}</td>
                            <td>{{row.Number}}</td>
                            <td>{{row.Date}}</td>
                            <td>{{row.AcctPer}}</td>
                            <td>{{row.Est}}</td>
                            <td>{{row.Real}}</td>
                            <td>{{row.Appr}}</td>
                            <td>{{row.Encum}}</td>
                            <td>{{row.Expend}}</td>
                            <td>{{row.Bal}}</td>
                            <td>{{row.WorkDescr}}</td>
                            <td>{{row.Type}}</td>
                            <td>{{row.Contr}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
</div>



<script>
    $(document).ready(function() {
        // Initialize DataTables
        var table = $('#dataTable').DataTable({
            "ordering": false,
            "dom": 'lrtip',

        });

        // Add select dropdowns for each column except the first column (index 0)
        $('#dataTable thead tr:nth-child(2) th').each(function(index) {
            var column = table.column(index);
            var select = $('<select><option value=""></option></select>')
                .appendTo($(this).empty())
                .on('change', function() {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? val : '', true, false).draw(); // Updated search method
                });

            // Populate the select dropdown with unique values from the column
            column.data().unique().each(function(d) {
                select.append('<option value="' + d + '">' + d + '</option>');
            });
        });
    });
</script>

{% endblock %}