<!DOCTYPE html>
{% extends 'dashboard/base.html' %}
{% load static %}
<head>

  {% block stylesheet %}
  <style>
      
   
    td:first-child,
   {
  width: 10px;
  }
    .right-align-td {
      text-align: right;
    padding-right: 250px;
     
    }
    .collapsed {
      display: none;
  }
  
  .modal-body {
    max-height: 2000px;
    max-width: 2000px;
    overflow-y: auto;
  }
  
  .modal-body thead {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
 
  .modal-footer {
    z-index: 2;
  }

  
</style>
  {% endblock %} 
    

</head>
{% block body %}

 <div id="content-wrapper">
  
  <nav class="navbar navbar-expand navbar-dark bg-dark ">

    <a class="navbar-brand mr-1 text-primary " href="" ></a>
    

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
    </form>
    <a class="navbar-brand mr-1 text-primary " href="https://app.powerbi.com/groups/031634b4-01f7-4358-856c-e48f6f5fcaca/reports/fd891db5-908a-4463-9807-eece4c2c2f76/ReportSection93944f7038d180b89002?experience=power-bi" data-toggle="tooltip" title="POWERBI" target="_blank"><i class="fas fa-file-powerpoint"  ></i></a>
    <!-- Navbar -->
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="navbar-brand mr-1 text-primary " href="{% url 'pl_advantagechart' %}" data-toggle="tooltip" title="CHART"><i class="fas fa-chart-bar" ></i></a>
    
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a id="export-pdf-button" class="navbar-brand mr-1 text-primary " href="#" data-toggle="tooltip" title="PDF"><i class="fas fa-file-pdf"></i></i></a>
    
  

</nav>

<script>
  document.getElementById('export-pdf-button').addEventListener('click', function (event) {
    event.preventDefault(); 

    var element = document.getElementById('data-table');

    
    var options = {
      margin: 2,
      filename: 'exported_table.pdf',
      image: { type: 'png', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: [600,600], orientation: 'portrait' },
    };

   
    html2pdf().set(options).from(element).save();
  });
</script>



<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered" style="width: 80%; height: 80%; max-width: none; max-height: none;">
    <div class="modal-content" style="height: 80%;">
      <div class="modal-body" style="max-height: 80%; overflow-y: auto;">
       
        <table class="table table-hover" id="balancesheet-data-table1">
          <thead>
            <tr>
            <th>fund</th>
            <th>func</th>
            <th>obj</th>
            <th>org</th>
            <th>fscl_yr</th>
            <th>pgm</th>
            <th>projDtl</th>
            <th>AcctDescr</th>
            <th>Number</th>
            <th>Date</th>
            <th>AcctPer</th>
            <th>Real</th>
            <th>Expend</th>
            <th>Bal</th>
            <th>WorkDescr</th>
            <th>Type</th>
            
            </tr>
          </thead>
          <tbody id="modal-table-body">
            <!-- The data from the viewgl function will be populated here -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a id="exportmodal1-pdf-button" class="navbar-brand mr-1 text-primary " href="#" data-toggle="tooltip" title="PDF"><i class="fas fa-file-pdf"></i></i></a>
        
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('exportmodal1-pdf-button').addEventListener('click', function (event) {
    event.preventDefault(); 

    var element = document.getElementById('balancesheet-data-table1');

    
    var options = {
      margin: 2,
      filename: 'exported_table.pdf',
      image: { type: 'png', quality: 0.98 },
      html2canvas: {  scale: 1, 
        scrollX: 0,
        scrollY: 0,},
      jsPDF: { unit: 'mm', format: [600,600], orientation: 'portrait' },
    };

   
    html2pdf().set(options).from(element).save();
  });
</script>

<div class="modal" id="myModal2">
  <div class="modal-dialog modal-dialog-centered" style="width: 80%; height: 80%; max-width: none; max-height: none;">
    <div class="modal-content" style="height: 80%;">
      <div class="modal-body" style="max-height: 80%; overflow-y: auto;">
        <!-- Modify the table to display the data from the viewgl function -->
        <table class="table table-hover" id="balancesheet-data-table2">
          <thead>
            <tr>
            <th>fund</th>
            <th>func</th>
            <th>obj</th>
            <th>org</th>
            <th>fscl_yr</th>
            <th>pgm</th>
            
            <th>projDtl</th>
            <th>AcctDescr</th>
            <th>Number</th>
            <th>Date</th>
            <th>AcctPer</th>
           
            <th>Real</th>
       
           
            <th>Expend</th>
            <th>Bal</th>
            <th>WorkDescr</th>
            <th>Type</th>
         
            </tr>
          </thead>
          <tbody id="modal2-table-body">
            <!-- The data from the viewgl function will be populated here -->
          </tbody>
        </table>
      </div>
      <div class="modal2-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a id="exportmodal2-pdf-button" class="navbar-brand mr-1 text-primary " href="#" data-toggle="tooltip" title="PDF"><i class="fas fa-file-pdf"></i></i></a>
        
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('exportmodal2-pdf-button').addEventListener('click', function (event) {
    event.preventDefault(); 

    var element = document.getElementById('balancesheet-data-table2');

    
    var options = {
      margin: 2,
      filename: 'exported_table.pdf',
      image: { type: 'png', quality: 0.98 },
      html2canvas: {  scale: 1, 
        scrollX: 0,
        scrollY: 0,},
      jsPDF: { unit: 'mm', format: [600,600], orientation: 'portrait' },
    };

   
    html2pdf().set(options).from(element).save();
  });
</script>
  

      
      

<div id="json-response"></div>
<form  id="insert-row-form" action="#" method="POST">
  <div id="edit-container">
    <button id="edit-button" class="btn btn-sm btn-success" type="button" style=" float: right;">Edit</button>
</div>

<div id="cancel-container" style="display: none;">
  <button id="cancel-button" class="btn btn-sm btn-success" type="button" style=" float: right; margin-left: 10px;" >Cancel</button>
</div>

<div id="save-container" style="display: none;">
    <button id="save-button" class="btn btn-sm btn-success" style="float: right; margin-left: 10px; " >Save</button>
</div>



<script>
    document.getElementById("edit-button").addEventListener("click", function() {
        // Hide the "Edit" container
        document.getElementById("edit-container").style.display = "none";

        // Show the "Save" container
        document.getElementById("save-container").style.display = "block";
        document.getElementById("cancel-container").style.display = "block";
        
        
        
        var valueCells = document.querySelectorAll("[id^='value-cell-']");
        valueCells.forEach(function(cell) {
            cell.contentEditable = "true";
        });
        var deleteLinks = document.querySelectorAll("[id^='delete-container']");
        deleteLinks.forEach(function(link) {
            link.style.display = "block";
        });
        document.getElementById("add-row-button").style.display = "block";
        document.getElementById("add-row-spr-button").style.display = "block";
        document.getElementById("add-row-fpr-button").style.display = "block";
        document.getElementById("add-row-func-button").style.display = "block";
        
        
    });

    document.getElementById("cancel-button").addEventListener("click", function() {
        // Hide the "Save" container
        document.getElementById("save-container").style.display = "none";
        document.getElementById("cancel-container").style.display = "none";
        
    
        

        // Show the "Edit" container
        document.getElementById("edit-container").style.display = "block";
        var valueCells = document.querySelectorAll("[id^='value-cell-']");
        valueCells.forEach(function(cell) {
            cell.contentEditable = "false";
        });
        var deleteLinks = document.querySelectorAll("[id^='delete-container']");
        deleteLinks.forEach(function(link) {
            link.style.display = "none";
        });
        document.getElementById("add-row-button").style.display = "none";
        document.getElementById("add-row-spr-button").style.display = "none";
        document.getElementById("add-row-fpr-button").style.display = "none";
        document.getElementById("add-row-func-button").style.display = "none";
       
        
    });
</script>

  {% csrf_token %}
    <table id="data-table" class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="collapsed" ></th>
            <th class="collapsed" ></th>
            <th class="collapsed" ></th>
            <th class="collapsed" ></th>
            <th class="collapsed" ></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th class="collapsed"></th>
            <th><button id="toggle-button" type="button" class="expand-button" onclick="toggleColumns()" >+</button></th>
        </tr>
    </thead>
    <tbody id="data-table-body">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="collapsed" >September</th>
            <th class="collapsed" >October</th>
            <th class="collapsed" >November</th>
            <th class="collapsed" >December</th>
            <th class="collapsed" >January</th>
            <th class="collapsed">February</th>
            <th class="collapsed">March</th>
            <th class="collapsed">April</th>
            <th class="collapsed">May</th>
            <th class="collapsed">June</th>
            <th class="collapsed">July</th>
            <th class="collapsed">August</th>
            <th>YTD FY 2023</th>
           
        </tr>
        <tr class="local-revenue-row">
            <td></td>
            <td><strong>CASH FLOWS FROM OPERATING ACTIVITIES</strong></td>
            <td></td>
            <td class="collapsed" ></td>
            <td class="collapsed" ></td>
            <td class="collapsed" ></td>
            <td class="collapsed" ></td>
            <td class="collapsed" ></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td class="collapsed"></td>
            <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Change in Net Assets</td>
          <td></td>
          <td class="collapsed right-align-td" > $(1,375,582)</td>
          <td class="collapsed right-align-td" > $664,497 </td>
          <td class="collapsed right-align-td" > $(508,913)</td>
          <td class="collapsed right-align-td" >$(63,392)</td>
          <td class="collapsed right-align-td" > $(40,088)</td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="right-align-td"> $(1,323,478)
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Depreciation and Amortization</td>
          <td></td>
          <td class="collapsed right-align-td"  > 104,167 </td>
          <td class="collapsed right-align-td"  > 104,167 </td>
          <td class="collapsed right-align-td" > 104,167 </td>
          <td class="collapsed right-align-td"  >  104,167</td>
          <td class="collapsed right-align-td"  >  104,167 </td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="right-align-td"> 520,833 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Accounts Receivable</td>
          <td></td>
          <td class="collapsed right-align-td"  ></td>
          <td class="collapsed right-align-td"  > 589,378 
          </td>
          <td class="collapsed right-align-td"  ></td>
          <td class="collapsed right-align-td"  > 246,683 
          </td>
          <td class="collapsed right-align-td"  > 273,447 
          </td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td"></td>
          <td class="collapsed right-align-td"></td>
          <td class="collapsed right-align-td"></td>
          <td class="collapsed right-align-td"></td>
          <td class="collapsed right-align-td"></td>
          <td class="right-align-td"> 1,109,508 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Increase (Decrease) in Accounts Payable</td>
          <td></td>
          <td class="collapsed right-align-td" > 20,990 
          </td>
          <td class="collapsed right-align-td" > (30,688)
          </td>
          <td class="collapsed right-align-td" > 7,305 
          </td>
          <td class="collapsed right-align-td" > (9,094)
          </td>
          <td class="collapsed right-align-td" > 8,758 
          </td>
          <td class="collapsed right-align-td"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> (2,728)
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Increase (Decrease) in Payroll and Payroll Related Payables</td>
          <td></td>
          <td class="collapsed right-align-td" > 181,842 
          </td>
          <td class="collapsed right-align-td" > 122,755 
          </td>
          <td class="collapsed right-align-td" > 38,663 
          </td>
          <td class="collapsed right-align-td" > (149,873)
          </td>
          <td class="collapsed right-align-td" > 167,540 
          </td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> 360,926 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Inventories</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed right-align-td" > 1,080 
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> 1,080 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>NET CASH FLOWS FROM OPERATING ACTIVITIES</strong></td>
          <td></td>
          <td class="collapsed right-align-td" > $(1,068,584)
          </td>
          <td class="collapsed right-align-td" > $1,450,109 
          </td>
          <td class="collapsed right-align-td" > $(357,699)
          </td>
          <td class="collapsed right-align-td" > $128,490 
          </td>
          <td class="collapsed right-align-td" > $513,824 
          </td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> $666,141 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>CASH FLOWS FROM INVESTING ACTIVITIES</strong></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Land</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Building & Improvements</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed right-align-td" > (132,300)
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> (132,300)
          </td>
        </tr>
       
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Technology Equipment</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed right-align-td" > (139)
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed right-align-td" > (21,374)
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> (21,513)
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Furniture & Equipment</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) in Vehicles</td>
          <td></td>
          <td class="collapsed right-align-td" > (231)
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> (231)
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) Construction in Process</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>NET CASH FLOWS FROM INVESTING ACTIVITIES</strong></td>
          <td></td>
          <td class="collapsed right-align-td" > $(231)
          </td>
          <td class="collapsed right-align-td" > $(132,439)
          </td>
          <td class="collapsed right-align-td" ></td>
          <td class="collapsed right-align-td" > $(21,374)
          </td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> $(154,045)
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>CASH FLOWS FROM FINANCING ACTIVITIES</strong></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Increase (Decrease) in Short Term Notes Payable, Bond</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Increase (Decrease) in Long Term Liabilities</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td>&nbsp;&nbsp;Decrease (Increase) Restricted Cash (Constr.)</td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>NET CASH FLOWS FROM FINANCING ACTIVITIES</strong></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>NET INCREASE (DECREASE) IN CASH</strong></td>
          <td></td>
          <td class="collapsed right-align-td" > $(1,068,815)
          </td>
          <td class="collapsed right-align-td" > $1,317,670 
          </td>
          <td class="collapsed right-align-td" > $(357,699)
          </td>
          <td class="collapsed right-align-td" > $107,116 
          </td>
          <td class="collapsed right-align-td" > $513,824 
          </td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> $512,096 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>Cash at Beginning of Period</strong></td>
          <td></td>
          <td class="collapsed right-align-td" > $7,264,371 
          </td>
          <td class="collapsed right-align-td" > $6,195,556 
          </td>
          <td class="collapsed right-align-td" > $7,513,119 
          </td>
          <td class="collapsed right-align-td" > $7,152,482 
          </td>
          <td class="collapsed right-align-td" > $7,259,598 
          </td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> $7,264,371 
          </td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td></td>
          <td></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed" ></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td></td>
        </tr>
        <tr class="local-revenue-row">
          <td></td>
          <td><strong>Cash at End of Period</strong></td>
          <td></td>
          <td class="collapsed right-align-td" > $6,195,556 
          </td>
          <td class="collapsed right-align-td" > $7,513,119 
          </td>
          <td class="collapsed right-align-td" > $7,152,482 
          </td>
          <td class="collapsed right-align-td" > $7,259,598 
          </td>
          <td class="collapsed right-align-td" > $7,771,900 
          </td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="collapsed"></td>
          <td class="right-align-td"> $7,771,900 
          </td>
        </tr>
          
</tbody>
</table>
</form>

</script>


<script>
  function validateBudgetInput(event) {
    const input = event.target;
    const value = input.value;

    
    const regex = /^[0-9.]*$/;

    
    if (!regex.test(value)) {
        
        input.value = value.replace(/[^0-9.]/g, '');
    }
}

function toggleRow(rowId) {
  for (var i = 0; i <= 50; i++) {
    var row = document.getElementById("row" + rowId + "-" + i);
    if (row) {
      row.style.display = row.style.display === "none" ? "table-row" : "none";
    }
  }
  
  var rowElement = document.getElementById("row" + rowId);
  if (rowElement) {
    rowElement.innerHTML = rowElement.innerHTML === "-" ? "+" : "-";
  }
}

function toggleColumns() {
    var toggleButton = document.getElementById("toggle-button");
    var collapsedColumns = document.getElementsByClassName("collapsed");
    for (var i = 0; i < collapsedColumns.length; i++) {
      if (collapsedColumns[i].style.display === "none") {
        collapsedColumns[i].style.display = "table-cell";
        toggleButton.innerHTML = "-";
      } else {
        collapsedColumns[i].style.display = "none";
        toggleButton.innerHTML = "+";
      }
    }
  }

  function hideRowsByClass(className) {
    const rows = document.querySelectorAll(className);
    rows.forEach(row => {
      row.style.display = 'none';
    });
  }

  



window.addEventListener('DOMContentLoaded', () => {

});



</script>


{% endblock %}


