<!DOCTYPE html>
{% extends 'dashboard/base.html' %}
{% load static %}
<head>
    
   
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    .expand-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .collapsed {
        display: none;
    }
  
</style>

</head>
{% block body %}

 <div id="content-wrapper">
  
  <nav class="navbar navbar-expand navbar-dark bg-dark ">

    <a class="navbar-brand mr-1 text-primary " href="" ></a>
    

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
    </form>
    <a class="navbar-brand mr-1 text-primary " href="https://app.powerbi.com/groups/031634b4-01f7-4358-856c-e48f6f5fcaca/reports/61085bf2-1355-4ac4-adfd-c41d2ede3d1a/ReportSection3e1e5b586b7d627ce437?experience=power-bi" ><i class="fas fa-file-powerpoint"></i></a>
    <!-- Navbar -->
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
      <a class="navbar-brand mr-1 text-primary " href="https://app.powerbi.com/links/RDBb_hkIC7?ctid=088fd6f9-1d62-44b5-87b9-64b9699ac96a&pbi_source=linkShare" ><i class="fas fa-table"  ></i></a>
      
      
  

</nav>
  

    <table id="data-table" class="table table-hover">
        <thead>
        <tr>
          <script>
            for (var i = 0; i <= 10; i++){
              if (i === 5 ) {
                document.write(`<th><button id="toggle-button" class="expand-button" onclick="toggleColumns()" >+</button></th>`);
              }
              else if(i>=6 && i<=16){
                document.write(`<td  class="collapsed"></td>`);
              }
              else{
                document.write(`<td  ></td>`);
              }
            }
            
          </script>
        </tr>
    </thead>
    <tbody id="data-table-body">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Ammended Budget</th>
            <th>42% YTD Budget</th>
            <th class="collapsed" >September</th>
            <th class="collapsed" >October</th>
            <th class="collapsed" >November</th>
            <th class="collapsed" >December</th>
            <th class="collapsed" >January</th>
            <th class="collapsed">February</th>
            <th class="collapsed">March</th>
            <th class="collapsed">April</th>
            <th class="collapsed">May</th>
            <th class="collapsed">June</th>
            <th class="collapsed">July</th>
            <th class="collapsed">August</th>
            <th>Year to Date</th>
            <th>Variances</th>
            <th>Var.(42%)</th>
        </tr>
        
        
        <!-- LOCAL REVENUE COLUMN START-->
      {% for row in data %}
        {% if row.category == 'Local Revenue' %}
            <tr id="row1-{{ forloop.counter }}" class="local-revenue-row">
              {% if forloop.counter == 1 %}
              <td>
                  <button id="add-row-button" onclick="addNewRow()">Add</button>
              </td>
          {% else %}
              <td></td>
          {% endif %}
                <td>{{ row.fund }}</td>
                <td>{{ row.obj }} - {{ row.description }}</td>
                <td {% if row.value == 0.0 %}contenteditable{% endif %}>
                    {% if row.value == 0.0 %}
                        <!-- empty -->
                    {% else %}
                        {{ row.value }}
                    {% endif %}
                </td>
                
                <td id="convertLR{{ forloop.counter }}"></td>
                <td class="collapsed">{{ row.total_real9|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real10|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real11|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real12|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real1|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real2|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real3|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real4|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real5|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real6|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real7|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real8|floatformat:0 }}</td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <script>
              function convertValue1(rowNumber, value) {
                var convertedBudget1 = (value * 0.4166667).toFixed(0);
                document.getElementById("convertLR" + rowNumber).innerHTML = convertedBudget1;
            }
            
            var rowValue = parseFloat("{{ row.value }}");
            if (rowValue !== 0.0) {
                convertValue1({{ forloop.counter }}, rowValue);
            }
            
            
            document.getElementById("row1-{{ forloop.counter }}").addEventListener("input", function(e) {
                var newValue = parseFloat(e.target.innerText);
                if (!isNaN(newValue)) {
                    convertValue1({{ forloop.counter }}, newValue);
                }
            });
            </script>
        {% endif %}
      {% endfor %}

      
        
      
      <form class="form-horizontal" id="insert-row-form" >
        {% csrf_token %}
        <tr id="new-row-template" style="display: none;">
            <td>
                <button class="insert-button">Insert</button>
            </td>
            <td><input type="text" class="new-row-input" name="fund" placeholder="fund"></td>
            <td>
                <input type="text" class="new-row-input" name="obj" placeholder="obj">
                <input type="text" class="new-row-input" name="Description" placeholder="Description">
            </td>
            <td><input type="text" class="new-row-input" name="budget" placeholder="Budget"></td>
            <td></td>
            
        </tr>
    </form>
      
    
                
        
        <tr id="ttl-row">
            <td><button id="row1" class="expand-button" onclick="toggleRow(1)">+</button></td>
            <td></td>
            <td  ><strong>Local Revenue</strong></td>
            <script>
              for (var i = 3; i <= 19; i++) {
                if (i >= 5 && i <= 16) {
                  document.write(`<td id="local-revenue-total-${i}" class="collapsed" ></td>`);
                } else {
                  document.write(`<td id="local-revenue-total-${i}" ></td>`);
                }
              }
            </script>
        </tr>

        <!-- STATE PROGRAM COLUMN START-->
        {% for row in data %}
        {% if row.category == 'State Program Revenue' %}
        <tr id="row2-{{ forloop.counter }}" class="spr-row">
            <td></td>
            <td>{{ row.fund }}</td>
            <td>{{ row.obj }} - {{ row.description }}</td>
            <td {% if row.value == 0 %}contenteditable{% endif %}>
              {% if row.value == 0 %}
                <!-- empty -->
              {% else %}
                {{ row.value }}
              {% endif %}
            </td>
        
                <td id="convertSPR{{ forloop.counter }}"></td>
                <td class="collapsed">{{ row.total_real9|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real10|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real11|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real12|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real1|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real2|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real3|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real4|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real5|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real6|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real7|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real8|floatformat:0 }}</td>
                <td ></td>
                <td ></td>
                <td ></td>
        </tr>
        <script>
          function convertValue2(rowNumber, value) {
              var convertedBudget2 = (value * 0.4166667).toFixed(0);
              document.getElementById("convertSPR" + rowNumber).innerHTML = convertedBudget2;
          }

          var rowValue = parseFloat("{{ row.value }}");
          if (rowValue !== 0.0) {
              convertValue2({{ forloop.counter }}, rowValue);
          }

          
          document.getElementById("row2-{{ forloop.counter }}").addEventListener("input", function(e) {
              var newValue = parseFloat(e.target.innerText);
              if (!isNaN(newValue)) {
                  convertValue2({{ forloop.counter }}, newValue);
              }
          });
      </script>
        {% endif %}
        {% endfor %}


        <tr id="ttl-row" >
          <td><button id="row2" class="expand-button" onclick="toggleRow(2)">+</button></td>
          <td></td>
          <td  ><strong>State Program Revenue</strong></td>
          <script>
            for (var i = 3; i <= 19; i++) {
              if (i >= 5 && i <= 16) {
                document.write(`<td id="spr-total-${i}" class="collapsed" ></td>`);
              } else {
                document.write(`<td id="spr-total-${i}"  ></td>`);
              }
            }
          </script>
      </tr>
      
      <!-- Federal Program Revenue COLUMN START-->
      {% for row in data %}
      {% if row.category == 'Federal Program Revenue' %}
      <tr id="row3-{{ forloop.counter }}" class="fpr-row">
          <td></td>
          <td>{{ row.fund }}</td>
          <td>{{ row.obj }} - {{ row.description }}</td>
          <td {% if row.value == 0 %}contenteditable{% endif %}>
            {% if row.value == 0.0 %}
              <!-- empty -->
            {% else %}
              {{ row.value }}
            {% endif %} 
          </td>
          
                <td id="convertFPR{{ forloop.counter }}"></td>
                
                <td class="collapsed">{{ row.total_real9|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real10|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real11|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real12|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real1|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real2|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real3|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real4|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real5|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real6|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real7|floatformat:0 }}</td>
                <td class="collapsed">{{ row.total_real8|floatformat:0 }}</td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <script>
              function convertValue(rowNumber, value) {
                  var convertedBudget = (value * 0.4166667).toFixed(0);
                  document.getElementById("convertFPR" + rowNumber).innerHTML = convertedBudget;
              }
  
              var rowValue = parseFloat("{{ row.value }}");
              if (rowValue !== 0.0) {
                  convertValue({{ forloop.counter }}, rowValue);
              }
  
              
              document.getElementById("row3-{{ forloop.counter }}").addEventListener("input", function(e) {
                  var newValue = parseFloat(e.target.innerText);
                  if (!isNaN(newValue)) {
                      convertValue({{ forloop.counter }}, newValue);
                  }
              });
          </script>
     
      {% endif %}
      {% endfor %}
      <tr id="ttl-row">
        <td><button id="row3" class="expand-button" onclick="toggleRow(3)">+</button></td>
        <td></td>
        <td  ><strong>Federal Program Revenue</strong></td>
        <script>
          for (var i = 3; i <= 19; i++) {
            if (i >= 5 && i <= 16) {
              document.write(`<td id="fpr-total-${i}" class="collapsed" ></td>`);
            } else {
              document.write(`<td id="fpr-total-${i}" ></td>`);
            }
          }
        </script>
      </tr>

      <tr id="total-row">
        <td></td>
        <td></td>
        <td  ><strong>Total</strong></td>
        <script>
          for (var i = 3; i <= 19; i++) {
            if (i >= 5 && i <= 16) {
              document.write(`<td  id="total-${i}" class="collapsed" ></td>`);
            } else {
              document.write(`<td id="total-${i}" ></td>`);
            }
          }
        </script>
      </tr>

    {% for row in data2 %}
      
      <tr id="row4-{{ forloop.counter }}" class="total-row1">
          <td></td>
          <td></td>
          <td>{{ row.func_func }}-{{ row.desc }}</td>
          <td {% if row.budget == 0 %}contenteditable{% endif %}>
            {% if row.budget == 0.0 %}
              <!-- empty -->
            {% else %}
              {{ row.budget }}
            {% endif %} 
          </td>
          
          <td id="convertFunc{{ forloop.counter }}"></td>
        
          <td class="collapsed">{{ row.total_func9|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func10|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func11|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func12|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func1|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func2|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func3|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func4|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func5|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func6|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func7|floatformat:0 }}</td>
          <td class="collapsed">{{ row.total_func8|floatformat:0 }}</td>
          <td ></td>
          <td ></td>
          <td ></td>
      </tr>
      <script>
          var rowValue = parseFloat("{{ row.budget }}");
          if (rowValue !== 0) {
              var convertedBudget = (rowValue * 0.4167).toFixed(0);
              document.getElementById("convertFunc{{ forloop.counter }}").innerHTML = convertedBudget;
          }
      </script>
      
    {% endfor %}

      <tr id="total-row1" >
        <td></td>
        <td></td>
        <td  ><strong>Total</strong></td>
        <script>
          for (var i = 3; i <= 19; i++) {
            if (i >= 5 && i <= 16) {
              document.write(`<td  id="total1-${i}" class="collapsed" contenteditable></td>`);
            } else {
              document.write(`<td id="total1-${i}" contenteditable></td>`);
            }
          }
        </script>
      </tr>
        
  </tbody>
  </table>

 
 </div>





<script>

function toggleRow(rowId) {
  for (var i = 0; i <= 50; i++) {
    var row = document.getElementById("row" + rowId + "-" + i);
    if (row) {
      row.style.display = row.style.display === "none" ? "table-row" : "none";
    }
  }
  
  var rowElement = document.getElementById("row" + rowId);
  if (rowElement) {
    rowElement.innerHTML = rowElement.innerHTML === "-" ? "+" : "-";
  }
}

function toggleColumns() {
    var toggleButton = document.getElementById("toggle-button");
    var collapsedColumns = document.getElementsByClassName("collapsed");
    for (var i = 0; i < collapsedColumns.length; i++) {
      if (collapsedColumns[i].style.display === "none") {
        collapsedColumns[i].style.display = "table-cell";
        toggleButton.innerHTML = "-";
      } else {
        collapsedColumns[i].style.display = "none";
        toggleButton.innerHTML = "+";
      }
    }
  }

  function hideRowsByClass(className) {
    const rows = document.querySelectorAll(className);
    rows.forEach(row => {
      row.style.display = 'none';
    });
  }
  
  function hideRowsOnLoad() {
    const collapsedRows = document.querySelectorAll('.collapsed');
    collapsedRows.forEach(row => {
      row.style.display = 'none';
    });

    // Hide local revenue rows
    hideRowsByClass('.local-revenue-row');
    // Hide state program revenue rows
    hideRowsByClass('.spr-row');
    // Hide federal program revenue rows
    hideRowsByClass('.fpr-row');
  }


  function addNewRow() {
    const newRowTemplate = document.getElementById('new-row-template');
    const newRow = newRowTemplate.cloneNode(true);
    newRow.removeAttribute('style');
    newRow.id = ''; 
  
    const insertButton = newRow.querySelector('.insert-button');
    insertButton.addEventListener('click', () => {
      const form = document.getElementById('insert-row-form');
  const endpoint = form.getAttribute('action'); // Get the URL from the form action attribute
  const formData = new FormData(form);
  formData.append('Category', 'Local Revenue');

  fetch(endpoint, {
    method: 'POST',
    body: formData,
    headers: {
      'X-CSRFToken': '{{ csrf_token }}',
    },
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error('Error:', error);
  });
    });
  
    const localRevenueRows = document.querySelectorAll('.local-revenue-row');
    const lastLocalRevenueRow = localRevenueRows[localRevenueRows.length - 1];
    lastLocalRevenueRow.insertAdjacentElement('afterend', newRow);
  }

 

window.addEventListener('DOMContentLoaded', () => {
  hideRowsOnLoad();

/* --------------revenue function ------------------*/
function calculateLocalRevenueTotal() {
  const rows = document.querySelectorAll('.local-revenue-row');
  const totalCells = [];

  
  const totalCellIds = [3,4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];

  for (let i = 0; i < totalCellIds.length; i++) {
    const cellId = totalCellIds[i];
    const totalCell = document.getElementById(`local-revenue-total-${cellId}`);
    totalCells.push(totalCell);
  }

  let columnTotals = new Array(totalCells.length).fill(0);

  rows.forEach(row => {
    const cells = row.cells;
    for (let i = 3; i < cells.length; i++) {
      const cell = cells[i];
      const value = parseFloat(cell.textContent.trim());
      if (!isNaN(value)) {
        for (let j = 0; j < totalCells.length; j++) {
          if (i === totalCellIds[j]) {
            columnTotals[j] += value;
            break;
          }
        }
      }
    }
  });

  for (let i = 0; i < totalCells.length; i++) {
    const totalCell = totalCells[i];
    const columnTotal = parseInt(columnTotals[i]);
    totalCell.textContent = columnTotal !== 0 ? '$' + columnTotal.toLocaleString() : '';
  }
}


      
      
      

      /* --------------spr function ------------------*/
function calculateSPRTotal() {
  const rows = document.querySelectorAll('.spr-row');
  const totalCells = [];

  
  const totalCellIds = [3,4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];

  for (let i = 0; i < totalCellIds.length; i++) {
    const cellId = totalCellIds[i];
    const totalCell = document.getElementById(`spr-total-${cellId}`);
    totalCells.push(totalCell);
  }

  let columnTotals = new Array(totalCells.length).fill(0);

  rows.forEach(row => {
    const cells = row.cells;
    for (let i = 3; i < cells.length; i++) {
      const cell = cells[i];
      const value = parseFloat(cell.textContent.trim());
      if (!isNaN(value)) {
        for (let j = 0; j < totalCells.length; j++) {
          if (i === totalCellIds[j]) {
            columnTotals[j] += value;
            break;
          }
        }
      }
    }
  });

  for (let i = 0; i < totalCells.length; i++) {
    const totalCell = totalCells[i];
    const columnTotal = parseInt(columnTotals[i]);
    totalCell.textContent = columnTotal !== 0 ? '$' + columnTotal.toLocaleString() : '';
  }
}

      
    
     /* --------------spr function ------------------*/
 function calculateFPRTotal() {
  const rows = document.querySelectorAll('.fpr-row');
  const totalCells = [];

   
  const totalCellIds = [3,4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];

   for (let i = 0; i < totalCellIds.length; i++) {
    const cellId = totalCellIds[i];
    const totalCell = document.getElementById(`fpr-total-${cellId}`);
    totalCells.push(totalCell);
  }

   let columnTotals = new Array(totalCells.length).fill(0);

   rows.forEach(row => {
    const cells = row.cells;
    for (let i = 3; i < cells.length; i++) {
      const cell = cells[i];
      const value = parseFloat(cell.textContent.trim());
      if (!isNaN(value)) {
        for (let j = 0; j < totalCells.length; j++) {
          if (i === totalCellIds[j]) {
            columnTotals[j] += value;
            break;
          }
        }
      }
    }
  });

   for (let i = 0; i < totalCells.length; i++) {
    const totalCell = totalCells[i];
    const columnTotal = parseInt(columnTotals[i]);
    totalCell.textContent = columnTotal !== 0 ? '$' + columnTotal.toLocaleString() : '';
  }
 }


/* ------row 1 total --------- */
function calculaterow1Total() {
  const rows = document.querySelectorAll('.total-row1');
  const totalCells = [];

  
  const totalCellIds = [3,4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];

  for (let i = 0; i < totalCellIds.length; i++) {
    const cellId = totalCellIds[i];
    const totalCell = document.getElementById(`total1-${cellId}`);
    totalCells.push(totalCell);
  }

  let columnTotals = new Array(totalCells.length).fill(0);

  rows.forEach(row => {
    const cells = row.cells;
    for (let i = 3; i < cells.length; i++) {
      const cell = cells[i];
      const value = parseFloat(cell.textContent.trim());
      if (!isNaN(value)) {
        for (let j = 0; j < totalCells.length; j++) {
          if (i === totalCellIds[j]) {
            columnTotals[j] += value;
            break;
          }
        }
      }
    }
  });

  for (let i = 0; i < totalCells.length; i++) {
    const totalCell = totalCells[i];
    const columnTotal = parseInt(columnTotals[i]);
    totalCell.textContent = columnTotal !== 0 ? '$' + columnTotal.toLocaleString() : '';
  }
}


function calculateColumnTotals() {
  const rows = document.querySelectorAll('.fpr-row, .spr-row, .local-revenue-row');
  const totalCells = [];

  
  const totalCellIds = [3,4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];

  for (let i = 0; i < totalCellIds.length; i++) {
    const cellId = totalCellIds[i];
    const totalCell = document.getElementById(`total-${cellId}`);
    totalCells.push(totalCell);
  }

  let columnTotals = new Array(totalCells.length).fill(0);

  rows.forEach(row => {
    const cells = row.cells;
    for (let i = 3; i < cells.length; i++) {
      const cell = cells[i];
      const value = parseFloat(cell.textContent.trim());
      if (!isNaN(value)) {
        for (let j = 0; j < totalCells.length; j++) {
          if (i === totalCellIds[j]) {
            columnTotals[j] += value;
            break;
          }
        }
      }
    }
  });

  for (let i = 0; i < totalCells.length; i++) {
    const totalCell = totalCells[i];
    const columnTotal = parseInt(columnTotals[i]);
    totalCell.textContent = columnTotal !== 0 ? '$' + columnTotal.toLocaleString() : '';
  }
}





    
    
    const editableCells = document.querySelectorAll('.local-revenue-row td[contenteditable], .spr-row td[contenteditable], .fpr-row td[contenteditable], .total-row1 td[contenteditable]');
    editableCells.forEach(cell => {
      cell.addEventListener('input', () => {
        calculateLocalRevenueTotal();
        calculateSPRTotal();
        calculateFPRTotal();
        calculaterow1Total();
        calculateColumnTotals();
        
      });
    });

    calculateLocalRevenueTotal();
    calculateSPRTotal();
    calculateFPRTotal();
    calculaterow1Total();
    calculateColumnTotals();
});



</script>


{% endblock %}


