{% block libraries %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
{% endblock %}
{% load static %} 
<style>
  .active {
    background-color: #FFFFFF;
    text-decoration: none; 
    color: #3498db;
    border-radius: 0.25rem;
  }
  .not-active {
    text-decoration: none; 
    color: gray; /* Gray out the link */
    pointer-events: none; /* Prevents clicking */
    cursor: default; /* Resets the cursor */
  }
  #new-ui{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  #new-ui span {
    color: #1b4f72;
    font-weight: 900;
  }

  .net-section-head div:nth-child(1), 
  .net-section div:nth-child(1) {
    color: gray;
    font-size: .75em;
  }

  .net-section-head div:nth-child(2){
    color: #dd8600;
    font-size: 1.25em;
  }
  .net-section div:nth-child(2){
    color: 	#4b4b4b;
    font-size: 1em;
  }
  .net-section div:nth-child(3){
    color: 	#ebae67;
    font-size: .75em;
  }
  #quarter-tabs {
    font-size: .75em;
  }
  #quarter-tabs > a:hover {
    background-color: #FFFFFF;
  }

  #table-main {
    border-collapse: collapse;
    color: #1b4f72;
  }
  #table-main thead{
    text-align: center;
  }
  #table-main th > div {
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* padding: 1rem 1rem; */
  }
  #table-main tbody td{
    /* padding: 0 0; */
    color: #1b4f72 ; 
  }
  #table-main tbody td:not(:first-child){
    text-align: end;
  }
  #table-main tbody td {
      white-space: nowrap;  /* Prevent text wrapping */
      overflow: hidden;     /* Hide overflow */
      text-overflow: ellipsis; /* Add an ellipsis for overflowed text */
      /* You might want to adjust the width as needed */
  }

  .dom > td{
    padding: 10px 25px;
  }
  .dom > :first-child{
    cursor: pointer;
  }
  .sub td {
    height: 0 !important;
    padding: 0 25px;
  }
  .sub {
    height: 0 !important;
    font-weight: 400;
    font-size: .9em;
  }
  .sub-active {
    display: block;
  }
  .upswing {
    color: #29ab87 !important;
  }
  .downswing {
    color: #cc0000;
  }
  .modal-table {
    border-collapse: collapse;
  }

  .partial-border-right {
      position: relative;
  }

  .partial-border-right::after {
      content: '';
      position: absolute;
      right: 0;
      top: 25%; /* Adjust this to vertically center the border */
      bottom: 25%; /* Same as above */
      border-right: 2px solid #e4e4e4; /* Adjust border color and width as needed */
      width: 0;
  }
.title-dom{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
</style>

<div id="new-ui" >
  <div id="new-table-box" class="rounded shadow-lg p-3 h-100">
    <div class="d-flex flex-row justify-content-between align-items-center p-3 mb-3">
      <div id="section-title">
        <span>
            Statement of Cash Flows
        </span>
        <br>
        <span>
        as of {{last_month}}
        </span>
      </div>
      <div>
        <div>
          YE: {% if September == "True" %} August {% else %} June {% endif %}
        </div>
        <div id="quarter-tabs" class="d-inline rounded py-2 px-1" style="background-color: #f5f6f7;">
          <a class="p-1" href="">Show all</a>
          <!-- <a class="p-1 not-active" href="">1st Quarter</a>
          <a class="p-1 not-active" href="">2nd Quarter</a>
          <a class="p-1 not-active" href="">3rd Quarter</a>
          <a class="p-1 not-active"  href="">4th Quarter</a> -->
        </div>
      </div>
    </div>
    
    <div class="">
      <table id="table-main">
        <thead>
          <tr class="rounded shadow headerNew">
            <th>
              <div class="net-section-head">
                <div class="net-title"></div>
                <div class="quarter-net-total"></div>
                <div class=""></div>
              </div>
            </th>

            <!--      Months       -->
            {% if September == "True" %}
            <th class="month">
              <div class="net-section">
                <div class="">September</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">October</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">November</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">December</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">January</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">February</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">March</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">April</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">May</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">June</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">July</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">August</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>

            {% else %}
            <th class="month">
              <div class="net-section">
                <div class="">July</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">August</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">September</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">October</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">November</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">December</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">January</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">February</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">March</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">April</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">May</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>
            <th class="month">
              <div class="net-section">
                <div class="">June</div>
                <div class="monthly-net-total"></div>
                <div class=""></div>
              </div>
            </th>

            {% endif %}
            <!--      End Months       -->

            <th>
              <div class="net-section">
                <div class="">YTD FY 2023</div>
                <div class=""></div>
                <div class=""></div>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
        <!-- Cash Flows from operating activities  -->
          <tr class="title-dom">
            <td>Cash Flows from Operating Activities</td>

            <td><a href="#" data-yr="09"></a></td>
            <td><a href="#" data-yr="10"></a></td>
            <td><a href="#" data-yr="11"></a></td>
            <td><a href="#" data-yr="12"></a></td>
            <td><a href="#" data-yr="01"></a></td>
            <td><a href="#" data-yr="02"></a></td>
            <td><a href="#" data-yr="03"></a></td>
            <td><a href="#" data-yr="04"></a></td>
            <td><a href="#" data-yr="05"></a></td>
            <td><a href="#" data-yr="06"></a></td>
            <td><a href="#" data-yr="07"></a></td>
            <td><a href="#" data-yr="08"></a></td>

            <td></td>
          </tr>
          <!-- End cashflow from operating activities  -->



          <!-- Change in net assets  -->
          <tr class="dom">
            <td>Change in Net Assets</td>

            {% if September == "True" %}
            <td>{{ total_netsurplus.09 }}</td>
            <td>{{ total_netsurplus.10 }}</td>
            <td>{{ total_netsurplus.11 }}</td>
            <td>{{ total_netsurplus.12 }}</td>
            <td>{{ total_netsurplus.01 }}</td>
            <td>{{ total_netsurplus.02 }}</td>
            <td>{{ total_netsurplus.03 }}</td>
            <td>{{ total_netsurplus.04 }}</td>
            <td>{{ total_netsurplus.05 }}</td>
            <td>{{ total_netsurplus.06 }}</td>
            <td>{{ total_netsurplus.07 }}</td>
            <td>{{ total_netsurplus.08 }}</td>

            {% else %}
            <td>{{ total_netsurplus.07 }}</td>
            <td>{{ total_netsurplus.08 }}</td>
            <td>{{ total_netsurplus.09 }}</td>
            <td>{{ total_netsurplus.10 }}</td>
            <td>{{ total_netsurplus.11 }}</td>
            <td>{{ total_netsurplus.12 }}</td>
            <td>{{ total_netsurplus.01 }}</td>
            <td>{{ total_netsurplus.02 }}</td>
            <td>{{ total_netsurplus.03 }}</td>
            <td>{{ total_netsurplus.04 }}</td>
            <td>{{ total_netsurplus.05 }}</td>
            <td>{{ total_netsurplus.06 }}</td>
            {% endif %}
            <td>{{ totals.ytd_netsurplus }}</td>
          </tr>
          <!-- End of  Change in net assets  -->


          <!-- Depreciation and Amortization  -->
          <tr class="dom">
            <td>Depreciation and Amortization</td>

            {% if September == "True" %}
            <td> {{ totals.dna_total_months.09 }} </td>
            <td> {{ totals.dna_total_months.10 }} </td>
            <td> {{ totals.dna_total_months.11 }} </td>
            <td> {{ totals.dna_total_months.12 }} </td>
            <td> {{ totals.dna_total_months.01 }} </td>
            <td> {{ totals.dna_total_months.02 }} </td>
            <td> {{ totals.dna_total_months.03 }} </td>
            <td> {{ totals.dna_total_months.04 }} </td>
            <td> {{ totals.dna_total_months.05 }} </td>
            <td> {{ totals.dna_total_months.06 }} </td>
            <td> {{ totals.dna_total_months.07 }} </td>
            <td> {{ totals.dna_total_months.08 }} </td>
            {% else %}
            <td> {{ totals.dna_total_months.07 }} </td>
            <td> {{ totals.dna_total_months.08 }} </td>
            <td> {{ totals.dna_total_months.09 }} </td>
            <td> {{ totals.dna_total_months.10 }} </td>
            <td> {{ totals.dna_total_months.11 }} </td>
            <td> {{ totals.dna_total_months.12 }} </td>
            <td> {{ totals.dna_total_months.01 }} </td>
            <td> {{ totals.dna_total_months.02 }} </td>
            <td> {{ totals.dna_total_months.03 }} </td>
            <td> {{ totals.dna_total_months.04 }} </td>
            <td> {{ totals.dna_total_months.05 }} </td>
            <td> {{ totals.dna_total_months.06 }} </td>
            {% endif %}

            <td>{{ totals.dna_ytd_total }}</td>
          </tr>
          <!-- Depreciation and Amortization  -->


          <!-- All increase decrease -->
          {% for row in data_cashflow %}
          {% if row.Category == 'Operating' %}
          <tr class="dom">
            <td>{{ row.Description }}</td>

            {% if September == "True" %}
            <td>{{row.total_operating9}}</td>
            <td>{{row.total_operating10}}</td>
            <td>{{row.total_operating11}}</td>
            <td>{{row.total_operating12}}</td>
            <td>{{row.total_operating1}}</td>
            <td>{{row.total_operating2}}</td>
            <td>{{row.total_operating3}}</td>
            <td>{{row.total_operating4}}</td>
            <td>{{row.total_operating5}}</td>
            <td>{{row.total_operating6}}</td>
            <td>{{row.total_operating7}}</td>
            <td>{{row.total_operating8}}</td>
            {% else %}
            <td>{{row.total_operating7}}</td>
            <td>{{row.total_operating8}}</td>
            <td>{{row.total_operating9}}</td>
            <td>{{row.total_operating10}}</td>
            <td>{{row.total_operating11}}</td>
            <td>{{row.total_operating12}}</td>
            <td>{{row.total_operating1}}</td>
            <td>{{row.total_operating2}}</td>
            <td>{{row.total_operating3}}</td>
            <td>{{row.total_operating4}}</td>
            <td>{{row.total_operating5}}</td>
            <td>{{row.total_operating6}}</td>
            {% endif %}

            <td>{{row.fytd_1}}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <!-- end of all increase decrease  -->


          <!-- net cash flows -->
          <tr class="dom">
            <td>Net Cash Flows From Operating Acvities</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
          </tr>
          <!-- end of netcash  -->

          <!-- cash flows from investing activities  -->
          <tr class="title-dom">
            <td>Cash Flows from Investing Activities</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
          </tr>


          <!-- Investing -->
          {% for row in data_cashflow %}
          {% if row.Category == 'Investing' %}
          <tr class="dom">
            <td>{{ row.Description }}</td>

            {% if September == "True" %}
            <td>{{row.total_investing9}}</td>
            <td>{{row.total_investing10}}</td>
            <td>{{row.total_investing11}}</td>
            <td>{{row.total_investing12}}</td>
            <td>{{row.total_investing1}}</td>
            <td>{{row.total_investing2}}</td>
            <td>{{row.total_investing3}}</td>
            <td>{{row.total_investing4}}</td>
            <td>{{row.total_investing5}}</td>
            <td>{{row.total_investing6}}</td>
            <td>{{row.total_investing7}}</td>
            <td>{{row.total_investing8}}</td>
            {% else %}
            <td>{{row.total_investing7}}</td>
            <td>{{row.total_investing8}}</td>
            <td>{{row.total_investing9}}</td>
            <td>{{row.total_investing10}}</td>
            <td>{{row.total_investing11}}</td>
            <td>{{row.total_investing12}}</td>
            <td>{{row.total_investing1}}</td>
            <td>{{row.total_investing2}}</td>
            <td>{{row.total_investing3}}</td>
            <td>{{row.total_investing4}}</td>
            <td>{{row.total_investing5}}</td>
            <td>{{row.total_investing6}}</td>
            {% endif %}

            <td>{{row.fytd_2}}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <!-- end of all increase decrease  -->


          <!-- Cash at beginning of period -->
          {% for row in data_balancesheet %}
          {% if row.school == school and row.Category == 'Assets' and row.Subcategory == 'Current Assets' and row.Activity == 'Cash' %}
          <tr class="dom">
            <td>Cash at Beginning of Period</td>

            {% if September == "True" %}
            
            <td> {{row.FYE}}</td>
            <td> {{row.difference_9}}</td>
            <td> {{row.difference_10}}</td>
            <td> {{row.difference_11}}</td>
            <td> {{row.difference_12}}</td>
            <td> {{row.difference_1}}</td>
            <td> {{row.difference_2}}</td>
            <td> {{row.difference_3}}</td>
            <td> {{row.difference_4}}</td>
            <td> {{row.difference_5}}</td>
            <td> {{row.difference_6}}</td>
            <td> {{row.difference_7}}</td>

            {% else %}

            <td> {{row.FYE}}</td>            
            <td> {{row.difference_7}}</td>
            <td> {{row.difference_8}}</td>
            <td> {{row.difference_9}}</td>
            <td> {{row.difference_10}}</td>
            <td> {{row.difference_11}}</td>
            <td> {{row.difference_12}}</td>
            <td> {{row.difference_1}}</td>
            <td> {{row.difference_2}}</td>
            <td> {{row.difference_3}}</td>
            <td> {{row.difference_4}}</td>
            <td> {{row.difference_5}}</td>
            {% endif %}


            <td>{{row.FYE}}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <!-- End of  Cash at beginning of period -->


          <!-- Cash at End of period -->
          {% for row in data_balancesheet %}
          {% if row.school == school and row.Category == 'Assets' and row.Subcategory == 'Current Assets' and row.Activity == 'Cash' %}
          <tr class="dom">
            <td>Cash at End of Period</td>

            {% if September == "True" %}
            <td> {{row.difference_9}}</td>
            <td> {{row.difference_10}}</td>
            <td> {{row.difference_11}}</td>
            <td> {{row.difference_12}}</td>
            <td> {{row.difference_1}}</td>
            <td> {{row.difference_2}}</td>
            <td> {{row.difference_3}}</td>
            <td> {{row.difference_4}}</td>
            <td> {{row.difference_5}}</td>
            <td> {{row.difference_6}}</td>
            <td> {{row.difference_7}}</td>
            <td> {{row.difference_8}}</td>

            {% else %}
            <td> {{row.difference_7}}</td>
            <td> {{row.difference_8}}</td>
            <td> {{row.difference_9}}</td>
            <td> {{row.difference_10}}</td>
            <td> {{row.difference_11}}</td>
            <td> {{row.difference_12}}</td>
            <td> {{row.difference_1}}</td>
            <td> {{row.difference_2}}</td>
            <td> {{row.difference_3}}</td>
            <td> {{row.difference_4}}</td>
            <td> {{row.difference_5}}</td>
            <td> {{row.difference_6}}</td>
            {% endif %}


            <td>{{row.last_month_difference}}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <!-- Cash at End of period -->


          <tr class="dom">
            <td>CFS</td>

            {% if September == "True" %}
            <td> {{cfchecker.09}}</td>
            <td> {{cfchecker.10}}</td>
            <td> {{cfchecker.11}}</td>
            <td> {{cfchecker.12}}</td>
            <td> {{cfchecker.01}}</td>
            <td> {{cfchecker.02}}</td>
            <td> {{cfchecker.03}}</td>
            <td> {{cfchecker.04}}</td>
            <td> {{cfchecker.05}}</td>
            <td> {{cfchecker.06}}</td>
            <td> {{cfchecker.07}}</td>
            <td> {{cfchecker.08}}</td>

            {% else %}
            <td> {{cfchecker.07}}</td>
            <td> {{cfchecker.08}}</td>
            <td> {{cfchecker.09}}</td>
            <td> {{cfchecker.10}}</td>
            <td> {{cfchecker.11}}</td>
            <td> {{cfchecker.12}}</td>
            <td> {{cfchecker.01}}</td>
            <td> {{cfchecker.02}}</td>
            <td> {{cfchecker.03}}</td>
            <td> {{cfchecker.04}}</td>
            <td> {{cfchecker.05}}</td>
            <td> {{cfchecker.06}}</td>
            {% endif %}


            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


{% block javascript %}
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->
<!-- save this later in a separate file when the mockup gets the pass  -->


<script>
  document.addEventListener('DOMContentLoaded', function(){
    // order is important here
    // formattings first (hide, show, format) then computations


    ///////////////////////// format table //////////////////////////////////
    const tableMain = document.getElementById('table-main')
    tableFormatter(tableMain)

    ///////////////////////// show hide stuff ///////////////////////////
    const monthHeaders = document.querySelectorAll('.month')
    const allRows = document.querySelectorAll('#table-main tbody tr')

    hideMonths()


    // add eventlister to quarter-tabs
    const quarterLinks = document.querySelectorAll('#quarter-tabs > a')


    quarterLinks.forEach((link, index) => {
      link.addEventListener('click', (event) => showMonths(event, index))
    });

    quarterLinks[0].click()


    // subs
    const doms = document.querySelectorAll('.dom > :first-child')
    
    doms.forEach(element => {
        // Add an event listener to each element
        element.addEventListener('click', showHideSubs);
    });


    //////////////////// Modal table //////////////////////////////////////
    // add bottom borders to table
    const domElements = document.querySelectorAll('.dom');
    domElements.forEach(element => {
        // Check if the previous sibling of 'main' has class 'sub'
        if (element.previousElementSibling && (element.previousElementSibling.classList.contains('sub') || element.previousElementSibling.classList.contains('dom')  )) {
            // Perform actions on the 'sub' element
            const cells = element.previousElementSibling.querySelectorAll('td')
            cells.forEach(cell => cell.style.paddingBottom = '1rem')
            element.style.borderTop = '2px solid #e4e4e4';
        }
    });


    // add | borders to headers 
    const tableMainHeaders = document.querySelectorAll('#table-main th ')
    for(let i = 0; i < tableMainHeaders.length - 1; i++){
      tableMainHeaders[i].classList.add('partial-border-right')
    }

    const tableHeaders = document.querySelectorAll('.modal-table th')
    for(let i = 0; i < tableHeaders.length - 1; i++){
      tableHeaders[i].classList.add('partial-border-right')
    }

    // populate the modal table
    $('#sample-button').on('click', function(){
      console.log(tableHeaders)
      $('#view-modal').modal('show')
    })


    ////////////////////////// functions /////////////////////////////////

    //  put in utils/formatters.js
    function accountingToInteger(formattedNum){
      // what if undefined or NaN or ''? 
      if (formattedNum === undefined || formattedNum === '' ) {
        return 0;
      } 

      // remove $ and comma 
      let deformattedNum = formattedNum.replace(/\$|,/g, '')
      let number

      // handle error for when formattedNum is an unexpected type
      try {
        if (deformattedNum.includes('(')) {
          // remove parenthesis and return negative num
          deformattedNum = deformattedNum.replace(/\(|\)/g, '')
          number = -Number(deformattedNum)
        } else {
          number = Number(deformattedNum)
        }
        return number
      } catch (error) {
        console.log(error)
        return 0
      } 
    }

    //  put in utils/formatters.js
    function integerToAccounting(num, decimal=false){
      let opts = {}
      // if NaN or undefined
      if (num === undefined || Number.isNaN(num)){
        return ''
      }

      if (decimal){
        opts = {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
          }
      }

      try {
        if (num < 0){
          return `$(${
            Math.abs(num).toLocaleString(undefined, opts) 
        })`
        } else {
          return `$${num.toLocaleString(undefined, opts)}`
        }
      } catch (error) {
        console.log(error)
        return ''
      }
    }

    //  put in utils/formatters.js ???
    function tableFormatter(mainTableDiv){
      const rows = mainTableDiv.querySelectorAll('tbody tr')

      rows.forEach(row => {
        const columns = Array.from(row.children);

        
        // count empty divs this is because we want to hide/remove these divs
        let emptyCounter = 0

        // skip 0 because 0 is just the title 
        for (let i = 1; i < columns.length; i++){
          let existingLink = columns[i].querySelector('a');

          // handle nulls and undefined
          if(columns[i].textContent.trim() === '' || columns[i].textContent === ' ') {
            
            emptyCounter++
            continue
          }

          // if has content but no dollar
          /*if (!columns[i].textContent.includes('$')) {
            columns[i].textContent = '$' + columns[i].textContent.trim()
          }*/

          // now for the up caret or down caret
          if (columns[i].textContent.includes('(')) {
            if (existingLink) {
              existingLink.style.color = 'red';
            }else{
              columns[i].style.setProperty('color', 'red', 'important');
            }    

            columns[i].innerHTML = `
            ${existingLink ? existingLink.outerHTML: columns[i].textContent}
              
            `
           //<i class="fa-solid fa-caret-down downswing"></i> 
          } 
          else {
            columns[i].classList.add('upswing')
            if (existingLink) {
              existingLink.style.color = '#29ab87';
            }
            columns[i].innerHTML = `
            ${existingLink ? existingLink.outerHTML :   columns[i].textContent}
          
            `          
            //<i class="fa-solid fa-caret-up"></i>
          }
            existingLink ='null'
        }

        // remove empty rows
        //console.log(emptyCounter)
        if (emptyCounter === (columns.length - 1)) {
          // row.style.display = 'none'
          console.log(row);
          if (row.classList.contains('title-dom')) {
            console.log(row);
          } else {
            row.remove();
          }
        }
        
      })
    } //end of tableFormatter


    function showHideSubs(event){
      const section = event.currentTarget.closest('tr')
      let prevElem = section.previousElementSibling;

      while (prevElem.classList.contains('sub')) {
        prevElem.classList.toggle('d-none')
        prevElem = prevElem.previousElementSibling;
      }
    } // end of showHideSubs

    function showMonths(event, quarter=0){
      event.preventDefault()
      // if active is not in the link that is clicked 
      // then either another button is active or there is no other button that is active
      // in that case hide all months
      if (!event.currentTarget.classList.contains('active')){
        hideMonths()
      }

      event.currentTarget.classList.toggle('active')

      const monthHeaders = document.querySelectorAll('.month')
      const allRows = document.querySelectorAll('#table-main tbody tr')
      let monthIdx = []

      const lm = parseInt("{{last_month_number}}",10); //last month number

      //get the  start of the cell index to show/hide
      if ('{{ September|lower }}' == 'true'){
        if(lm >=  9){
          th_start  = lm - 9
        }else{
          th_start  = lm + 3
        }
       
      }else{
        if(lm >  7){
          th_start  = lm - 7
        }else{
          th_start  = lm + 5
        }
      }

  
      // figure out the index of months to hide or show
      if (quarter === 0){
    
           /*  monthHeaders.forEach(th => {
                  th.classList.toggle('d-none')
                  monthIdx.push(th.cellIndex)
                }) */
      for (let i = 0; i <= th_start; i++){
     
          const th = monthHeaders[i] 
          if (th){
            th.classList.toggle('d-none')
            monthIdx.push(th.cellIndex)
  
          }
      
        }

      }
      else {
        for (let i = 0; i < 3; i++) {
          const index = 3 * (quarter - 1) + i
          console.log(index)
          if (index < monthHeaders.length){
            const th = monthHeaders[index]
        
            // what if undefined header
            if (th){
              th.classList.toggle('d-none')
              monthIdx.push(th.cellIndex)
            }
          }
          else {
            break
          }
        }
      }
      // hide the rows with the same index as month header
      allRows.forEach(row => {
        const cells = Array.from(row.children)
        for( const idx of monthIdx){
          cells[idx].classList.toggle('d-none')
        }
      })

    } // end of showMonths function

    function hideMonths(){
      const monthHeaders = document.querySelectorAll('.month')
      const allRows = document.querySelectorAll('#table-main tbody tr')
      let monthIdx = []
      monthHeaders.forEach(th => {
        if (!th.classList.contains('d-none')){
          th.classList.toggle('d-none')
          monthIdx.push(th.cellIndex)
        }
      })
      allRows.forEach(row => {
        const cells = Array.from(row.children)
        for( const idx of monthIdx){
          cells[idx].classList.toggle('d-none')
        }
      })
    } // end of hideMonths

  })

</script>


{% endblock %}