.green-circle, .yellow-circle, .red-circle{
    display:flex;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 100px; /* Adjust the width */
    height: 20px; /* Adjust the height */
}

.green-circle {
    background-color: green;
    color:white;
}

.yellow-circle{
    background-color: yellow;
}

.red-circle{
    background-color: red;
    color: white;
}
.circle-legend {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this gap as needed */
}

.legend-text {
  margin: 0;
}

