/*
   .firstcolumn
     {
      width: 0%;
    }*/

.right-align-td {
  text-align: right;
}

.collapsed {
  display: none;
}

.modal-body {
  max-height: 2000px;
  max-width: 2000px;
  overflow-y: auto;
}

.modal-body thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

.modal-footer {
  z-index: 2;
}

.table-container {
  bottom: 0;
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  table-layout: fixed;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;

  background-color: rgba(200, 200, 200);
}

td:nth-child(2) {
  width: 0%;
  text-align: center;

  line-height: 1;
  white-space: nowrap;
}
td:nth-child(3) {
  line-height: 1;
  white-space: nowrap;
}
.table th,
.table td {
  padding: 0.2rem !important;
}
.top-border {
  position: relative;
}

.top-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}
table {
  font-size: 0.8 rem;
}
td:nth-child(17),
th:nth-child(17) {
  display: none;
}

.strong {
  font-weight: bold;
}

#balancesheet-data-table1 th {
  text-align: center;
}